doctype html

block locals
  - var title = 'My Website';
  - var pageDescription = 'This is My Website.';
  - var url = 'https://';

html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title}
    meta(name="description" content=pageDescription)
    meta(name="robots" content="noindex")
    link(rel="canonical" href=url)
    link(rel="shortcut icon" href="../images/favicon.ico")
    link(rel="icon" href="../images/favicon.ico")

  body
    header(class="header")
      h1(class="header__title")
        a(href="" class="header__link")
          img(src="../images/logo_01.svg" class="header__logo" width="322" alt="札幌大通りリウマチ内科")
      a(href="#" class="header__info--sp") 診療時間
      div(class="header__info--tab-pc")
        p(class="header-tel") Tel :
          span(class="header-tel__large") 011-280-7777
        p(class="header__date") 月～金　<span class="header__date--emphasis">9:00-13:00／14:00-17:00</span>　土日・祝祭日　休診
      div(class="global-nav__button" id="global-nav__button")
        span(class="global-nav__line")
        span(class="global-nav__line")
        span(class="global-nav__line")
    include _menu.pug

    block content

    footer(class="footer")
      div(class="footer__innner")
        div(class="footer__left")
          a(href="/" class="footer__logo--wrapper")
            img(src="../images/logo_01.svg" alt="札幌大通りリウマチ内科" width="337" class="footer__logo")
          nav(class="footer__nav footer-nav")
            ul(class="footer-nav__li")
              li(class="footer-nav__item")
                a(href="#" class="footer-nav__link") お知らせ
              li(class="footer-nav__item")
                a(href="#" class="footer-nav__link") わたしたちのこと
              li(class="footer-nav__item")
                a(href="#" class="footer-nav__link") 院長挨拶
              li(class="footer-nav__item")
                a(href="#" class="footer-nav__link") はじめての方へ
              li(class="footer-nav__item")
                a(href="#" class="footer-nav__link") 診療内容について
              li(class="footer-nav__item")
                a(href="#" class="footer-nav__link") スタッフ紹介
              li(class="footer-nav__item")
                a(href="#" class="footer-nav__link") 院内紹介
              li(class="footer-nav__item")
                a(href="#" class="footer-nav__link") アクセス
              li(class="footer-nav__item")
                a(href="#" class="footer-nav__link") ご予約
        div(class="footer__right")
          h2(class="footer__title") 診療時間
            small 【診療科目：内科・リウマチ科】
          div(class="footer-time__dl--wrapper")
            dl(class="footer-time__dl")
              dt(class="footer-time__dt footer-time__dt--weekday") 月～金曜日
              dd(class="footer-time__dd") 9:00-13:00 <br class="sp-only">14:00-17:00
            dl(class="footer-time__dl")
              dt(class="footer-time__dt footer-time__dt--holiday") 土日・祝祭日
              dd(class="footer-time__dd") 休診
          p(class="footer-payment") ※お支払いには現金のほか、クレジットカード(VISA / MasterCard)がご利用いただけます。
          p(class="footer-location") <small>〒060-0061</small><br>札幌市中央区南1条西3丁目8 エムズ札幌ビル5階
          a(href="tel:011-280-7777" class="footer-tellink") TEL.
            span(class="footer-tellink__num") 011-280-7777
