extends _layout.pug

block locals
  - var title = 'Top Page'
  - var pageDescription = 'This is Top Page.'
  - var url = 'https://';

block content
  main(class="main" id="top")

    a(href="#home-reservation" class="button-reservation") 初診の受付はこちら

    //- div(class="home-loading" id="home-loading")
      div(class="home-loading__inner")
        div(class="home-loading__bg")
          div(class="home-loading__bg-pattern")
          div(class="home-loading__bg-white")

        div(class="home-loading__body")
          div(class="home-loading__texts")
            div
              span(class="home-loading__text1")
                span(class="letter") 病
                span(class="letter") に
              span(class="home-loading__text2")
                span(class="letter") 向
                span(class="letter") き
                span(class="letter") 合
                span(class="letter") う
                span(class="letter") 、
            div
              span(class="home-loading__text1")
                span(class="letter") 人
                span(class="letter") に
              span(class="home-loading__text2")
                span(class="letter") 寄
                span(class="letter") り
                span(class="letter") 添
                span(class="letter") う
                span(class="letter") 。
          p(class="home-loading__logo")
            img(src="../images/logo_02.svg" class="home-loading__logo-image" alt="" width="150" height="auto")

    section(class="home-mainvisual" id="home-mainvisual")
      div(class="home-mainvisual__inner")
        h2(class="home-mainvisual__title")
          div(class="home-mainvisual__title--inner")
            span(class="home-mainvisual__char") 病
            span(class="home-mainvisual__char") に
            span(class="home-mainvisual__char") 向
            span(class="home-mainvisual__char") き
            span(class="home-mainvisual__char") 合
            span(class="home-mainvisual__char") う
            span(class="home-mainvisual__char") 、
          div(class="home-mainvisual__title--inner")
            span(class="home-mainvisual__char") 人
            span(class="home-mainvisual__char") に
            span(class="home-mainvisual__char") 寄
            span(class="home-mainvisual__char") り
            span(class="home-mainvisual__char") 添
            span(class="home-mainvisual__char") う
            span(class="home-mainvisual__char") 。
        p(class="home-mainvisual__texts") 新しい薬が開発されても。<br>医療がどれだけ進歩しても。<br>あなた自身の「治したい」という<br>強い気持ちには、かなわないと思う。<br>私たちはその背中を押す役目。<br>一人ひとりの痛みと悩みに寄り添う、<br>リウマチ専門クリニックです。
      div(class="home-mainvisual__bg")
      a(href="#home-news" class="home-mainvisual__scroll")
        img(src="../images/mv_ico_scroll.svg" alt="スクロール" width="100px" height="auto" class="home-mainvisual__scroll-image")
      p(class="home-mainvisual__copyright") © sapporo odori riumachi clinic

    section(class="home-news on-scroll-add-class")
      div(class="pattern-bg")
        div(class="pattern-bg__pattern")
        div(class="pattern-bg__white pattern-bg__white--left")
        div(class="pattern-bg__white pattern-bg__white--right")
      div(class="inner-wrapper inner-wrapper--news" id="home-news")
        div(class="home-news__container")
          div(class="home-news__head")
            h2(class="content-head content-head--align-left content-head--home-news content-head--tb-onlu-mb")
              span(class="content-head__jp")
                span(class="content-head__char") お
                span(class="content-head__char") 知
                span(class="content-head__char") ら
                span(class="content-head__char") せ
              span(class="content-head__en") News
            a(href="#" class="button-arrow button-arrow--red button-arrow--news") 一覧はこちら
          ul(class="post-list home-news__posts")
            li(class="post-list__post")
              a(href="#" class="post-list__link")
                time(class="post-list__date" datetime="2022-07-13") 2022.07.13
                p(class="post-list__content") 休診のお知らせ（10/14）
            li(class="post-list__post")
              a(href="#" class="post-list__link")
                time(class="post-list__date" datetime="2022-06-09") 2022.06.09
                p(class="post-list__content") 休診のお知らせ (8/11～8/16)
            li(class="post-list__post")
              a(href="#" class="post-list__link")
                time(class="post-list__date" datetime="2022-04-01") 2022.04.01
                p(class="post-list__content") 開院３周年

    section(class="home-about on-scroll-add-class")
      div(class="inner-wrapper")
        h2(class="content-head content-head--mb")
          span(class="content-head__jp")
            span(class="content-head__char") わ
            span(class="content-head__char") た
            span(class="content-head__char") し
            span(class="content-head__char") た
            span(class="content-head__char") ち
            span(class="content-head__char") の
            span(class="content-head__char") こ
            span(class="content-head__char") と
          span(class="content-head__en") About
        p(class="lead-sentence")
          span(class="lead-sentence__child") 医
          span(class="lead-sentence__child") 療
          span(class="lead-sentence__child") で
          span(class="lead-sentence__child") 繋
          span(class="lead-sentence__child") が
          span(class="lead-sentence__child") る
          span(class="lead-sentence__child") 縁
          span(class="lead-sentence__child") を
          span(class="lead-sentence__child") 大
          span(class="lead-sentence__child") 切
          span(class="lead-sentence__child") に
          span(class="lead-sentence__child") 。
        div(class="home-about__text--wrapper")
          p(class="text--about") 長く付き合っていく病だからこそ、患者さん一人一人との縁を大切にして治療を続けていきたいと願っています。<br class="pc-tab-only">リウマチ専門医による確かな医療を気軽に、快適に受けていただきたい。<br class="pc-tab-only">専門クリニックではありますが、「お待たせしない」ことを追求しました。待合室はありません。<br class="pc-tab-only">完全予約制なので、来院してすぐ診察室へお入りいただけます。<br class="pc-tab-only">より快適に過ごしていただくために、当院では医療コンシェルジュが患者さんを<br class="pc-tab-only">受付からお会計までサポートいたします。
          button(class="accordion-trigger home-about__continue") 続きを読む
          div(class="accordion-target home-about__accordion")
            p(class="text--about") リウマチは女性に多い病気です。当院は内科診療やアンチエイジングのご相談も含め、<br class="pc-tab-only">女性のライフスタイルを支えるクリニックとして開院しました。<br class="pc-tab-only">なにか気になる症状がある方は、虹の七色で彩られた心地よい診察室へ気軽にいらしてください。
        img(src="../images/logo_02.svg" class="logo--vertical" width="145" height="135.19")

    section(class="home-point")
      div(class="parallax parallax--point")
      div(class="inner-wrapper inner-wrapper--point")
        ol(class="slick01 point-slide")
          li(class="point-slide__item point-slide__item--num1 on-scroll-add-class")
            p(class="point-slide__point") Point
              span(class="point-slide__num") 1
            dl(class="point-slide__dl")
              dt(class="point-slide__dt")
                div(class="point-slide__icon--container")
                  img(src="../images/charm_ico_01_parts01.svg" alt="" class="point-slide__icon" width="64" height="auto")
                  img(src="../images/charm_ico_01_parts02.svg" alt="" class="point-slide__icon" width="64" height="auto")
                  img(src="../images/charm_ico_01.svg" alt="" class="point-slide__icon--ruler" width="64" height="auto")
                span(class="point-slide__title") リウマチ専門のクリニック
              dd(class="point-slide__dd")
                p 専門だからできることがあります。「リウマチかも？」の大半は、実はリウマチではありません。ステロイドを極力使わず、基本のお薬から新薬まで、難しい言葉を使わずに専門医が分かり易く診療します。
          li(class="point-slide__item point-slide__item--num2 on-scroll-add-class")
            p(class="point-slide__point") Point
              span(class="point-slide__num") 2
            dl(class="point-slide__dl")
              dt(class="point-slide__dt")
                div(class="point-slide__icon--container")
                  img(src="../images/charm_ico_02_parts01.svg" alt="" class="point-slide__icon" width="64" height="auto")
                  img(src="../images/charm_ico_02_parts02.svg" alt="" class="point-slide__icon" width="64" height="auto")
                  img(src="../images/charm_ico_02.svg" alt="" class="point-slide__icon--ruler" width="64" height="auto")
                span(class="point-slide__title") 待合室のない、完全予約制
              dd(class="point-slide__dd")
                p 「お待たせしない」ことを追求した新しいシステムのクリニックです。完全予約制で来院してすぐに診察室に入れるので、待合室で人を気にする必要もありません。空き時間はネットで簡単に確認可能。時間が読めるクリニックです。
          li(class="point-slide__item point-slide__item--num3 on-scroll-add-class")
            p(class="point-slide__point") Point
              span(class="point-slide__num") 3
            dl(class="point-slide__dl")
              dt(class="point-slide__dt")
                div(class="point-slide__icon--container")
                  img(src="../images/charm_ico_03_parts01.svg" alt="" class="point-slide__icon" width="64" height="auto")
                  img(src="../images/charm_ico_03_parts02.svg" alt="" class="point-slide__icon" width="64" height="auto")
                  img(src="../images/charm_ico_03.svg" alt="" class="point-slide__icon--ruler" width="64" height="auto")
                span(class="point-slide__title") 医療コンシェルジュが対応
              dd(class="point-slide__dd")
                p 専属の医療コンシェルジュが問診から会計まで対応します。気になる症状や日常生活で困っていること、今後の通院についてなど、医師にはちょっと言いにくいようなことでも、お気軽にご相談下さい。
          li(class="point-slide__item point-slide__item--num4 on-scroll-add-class")
            p(class="point-slide__point") Point
              span(class="point-slide__num") 4
            dl(class="point-slide__dl")
              dt(class="point-slide__dt")
                div(class="point-slide__icon--container")
                  img(src="../images/charm_ico_04_parts01.svg" alt="" class="point-slide__icon" width="64" height="auto")
                  img(src="../images/charm_ico_04_parts02.svg" alt="" class="point-slide__icon" width="64" height="auto")
                  img(src="../images/charm_ico_04.svg" alt="" class="point-slide__icon--ruler" width="64" height="auto")
                span(class="point-slide__title") 検査結果もスマホで確認
              dd(class="point-slide__dd")
                p 検査結果はスマホで確認！もう結果が出るまで待つ必要はありません。特に、リウマチ患者さんが気になる炎症反応（CRP）、血球数は3分で結果が出ます。専門アプリにも対応しておりますので、詳しくはコンシェルジュにお尋ね下さい。
          li(class="point-slide__item point-slide__item--num5 on-scroll-add-class")
            p(class="point-slide__point") Point
              span(class="point-slide__num") 5
            dl(class="point-slide__dl")
              dt(class="point-slide__dt")
                div(class="point-slide__icon--container")
                  img(src="../images/charm_ico_05_parts01.svg" alt="" class="point-slide__icon" width="64" height="auto")
                  img(src="../images/charm_ico_05_parts02.svg" alt="" class="point-slide__icon" width="64" height="auto")
                  img(src="../images/charm_ico_05.svg" alt="" class="point-slide__icon--ruler" width="64" height="auto")
                span(class="point-slide__title") 大通駅徒歩1分のアクセス
              dd(class="point-slide__dd")
                p リウマチとは長いお付き合いになっていきます。札幌のショッピング街、デパート近くの立地で、来院ついでにお買い物も。定期通院に付加価値を見つけてちょっとした楽しみにしましょう。
        ol(class="slick01-tab point-tab")
          li(class="point-tab__item point-tab__item--num1") Point
            span(class="point-tab__num") 1
          li(class="point-tab__item point-tab__item--num2") Point
            span(class="point-tab__num") 2
          li(class="point-tab__item point-tab__item--num3") Point
            span(class="point-tab__num") 3
          li(class="point-tab__item point-tab__item--num4") Point
            span(class="point-tab__num") 4
          li(class="point-tab__item point-tab__item--num5") Point
            span(class="point-tab__num") 5

    section(class="home-greeting on-scroll-add-class")
      div(class="inner-wrapper inner-wrapper--greeting")
        h2(class="content-head content-head--mb")
          span(class="content-head__jp")
            span(class="content-head__char") 院
            span(class="content-head__char") 長
            span(class="content-head__char") ご
            span(class="content-head__char") あ
            span(class="content-head__char") い
            span(class="content-head__char") さ
            span(class="content-head__char") つ
          span(class="content-head__en") Greeting
        div(class="home-greeting__inner")
          div(class="home-greeting__photo")
          div(class="home-greeting__bg")
          div(class="home-greeting__greeting")
            p(class="lead-sentence--small") 説明は「わかりやすく丁寧に」を心がけています。
            p(class="home-greeting__text") ​大学病院では重症・難病の治療、新規治療法の研究、学生や医師の教育などを行ってきました。研究や教育もやりがいはありましたが、多くの患者さんと関わり、患者さんから感謝の言葉をいただくことで、専門医として努力してきたことが報われた気がし、何より医者になって本当に良かったと実感できました。<br class="pc-tab-only">女性に多く、長期的な治療が大切なリウマチ。ですが、病院では待ち時間ばかりが長く、診察はすぐ終わってしまうということも珍しくありません。女性の方に快適に、専門クリニックでもお待たせしない診療を目指し、過去に前例のないユニークなクリニックを開院しました。<br class="pc-tab-only">専門医による最新の治療を、患者さん一人一人に寄り添って提供していきたいと考えております。<br class="pc-tab-only">あなたに寄り添い、共にリウマチに向き合う医療を。
            p(class="role-name--wrapper") 院長
              span(class="role-name__name") 山田 一郎

    section(class="home-beginner on-scroll-add-class")
      div(class="inner-wrapper")
        h2(class="content-head content-head--mb")
          span(class="content-head__jp")
            span(class="content-head__char") は
            span(class="content-head__char") じ
            span(class="content-head__char") め
            span(class="content-head__char") て
            span(class="content-head__char") の
            span(class="content-head__char") 方
            span(class="content-head__char") へ
          span(class="content-head__en") Beginner's Guide
        p(class="lead-sentence")
          span(class="lead-sentence__child") も
          span(class="lead-sentence__child") し
          span(class="lead-sentence__child") か
          span(class="lead-sentence__child") し
          span(class="lead-sentence__child") て
          span(class="lead-sentence__child") 、
          span(class="lead-sentence__child") リ
          span(class="lead-sentence__child") ウ
          span(class="lead-sentence__child") マ
          span(class="lead-sentence__child") チ
          span(class="lead-sentence__child") ？
          <br>
          span(class="lead-sentence__child") ど
          span(class="lead-sentence__child") ん
          span(class="lead-sentence__child") な
          span(class="lead-sentence__child") 病
          span(class="lead-sentence__child") 気
          span(class="lead-sentence__child") な
          span(class="lead-sentence__child") ん
          span(class="lead-sentence__child") だ
          span(class="lead-sentence__child") ろ
          span(class="lead-sentence__child") う
          span(class="lead-sentence__child") ？
        div(class="home-beginner__text--wrapper")
          p(class="text--lead") 初めて症状に気づいた方も、既に治療を受けられている方も、リウマチ専門医が分かりやすく丁寧に診察します。<br class="pc-tab-only">気になることを相談しながら、あなたにあった治療を考えていきましょう。<br class="pc-tab-only">リウマチにはいい薬ができ、「寛解」という痛みがない状態に多くの方を導くことが可能な時代になりました。<br class="pc-tab-only">費用のこと、極力ステロイドを使わないこと、新薬の話まで、納得のいくまで説明します。<br class="pc-tab-only">リウマチに共に向き合い、あなたに寄り添う医療を目指します。
        div(class="selfcheck-bubble on-scroll-add-class")
          p(class="selfcheck-bubble__head") あてはまるものはありますか？
          p(class="icon-check selfcheck-bubble__open accordion-trigger") セルフチェックしてみる
          div(class="selfcheck-bubble__accordion accordion-target")
            ul(class="selfcheck-bubble__li")
              li(class="selfcheck-bubble__item icon-check") 朝にこわばりがある
              li(class="selfcheck-bubble__item icon-check") ふしぶしが痛い
              li(class="selfcheck-bubble__item icon-check") 手足が腫れぼったい
              li(class="selfcheck-bubble__item icon-check") 熱っぽい、微熱がある
              li(class="selfcheck-bubble__item icon-check") 疲れやすくなった
              li(class="selfcheck-bubble__item icon-check") 関節が3か所以上痛い
              li(class="selfcheck-bubble__item icon-check") 腱鞘炎が続く
              li(class="selfcheck-bubble__item icon-check") 歩くと足の裏が痛い
              li(class="selfcheck-bubble__item icon-check") 皮膚に異変が出てきた
              li(class="selfcheck-bubble__item icon-check") 手足の変形がある
              li(class="selfcheck-bubble__item icon-check") 家事がしづらくなった
              li(class="selfcheck-bubble__item icon-check") 携帯をしづらくなった
              li(class="selfcheck-bubble__item icon-check") 痛みで雪かきができなくなった
              li(class="selfcheck-bubble__item icon-check") 血縁者にリウマチの方がいる
            p(class="selfcheck-bubble__text") これらの症状が1週間続けば疑いがあります。朝に強いことが多いですが、人それぞれです。<br>最初は断続的に続くなど、波があることもあります。手の症状でお気づきになる方が多いですが、足の指の付け根などにもリウマチは出ます。<br>例えば右肘だけなど、一つの関節だけでも可能性は考えられます。<br>気になる症状があったら初診のご予約をおすすめいたします。
            p(class="icon-cross selfcheck-bubble__close") 閉じる

    section(class="home-flow on-scroll-add-class")
      div(class="pattern-bg")
        div(class="pattern-bg__pattern")
        div(class="pattern-bg__white pattern-bg__white--left")
        div(class="pattern-bg__white pattern-bg__white--right")
      div(class="inner-wrapper inner-wrapper--flow")
        h2(class="content-head content-head--mb")
          span(class="content-head__jp")
            span(class="content-head__char") 診
            span(class="content-head__char") 察
            span(class="content-head__char") の
            span(class="content-head__char") 流
            span(class="content-head__char") れ
          span(class="content-head__en") Flow
        ul(class="slick02 home-flow__li")
          li(class="home-flow__item")
            img(alt="予約・受付" src="../images/flow_head_01.svg" width="254" height="auto" class="home-flow__image")
            p(class="home-flow__desc") 完全予約制、当日予約もお受けします。スマホでネット予約が便利ですが、お電話もOK。受付後はまっすぐ診察室へ。
          li(class="home-flow__item")
            img(alt="問診" src="../images/flow_head_02.svg" width="254" height="auto" class="home-flow__image")
            p(class="home-flow__desc") コンシェルジュが丁寧に問診をします。気になる症状についてお伝え下さい。
          li(class="home-flow__item")
            img(alt="診察・検査" src="../images/flow_head_03.svg" width="254" height="auto" class="home-flow__image")
            p(class="home-flow__desc") 先生が丁寧に関節を診察し、超音波検査や血液検査、注射も診察室でおこなえます。納得のいくまで治療方針を相談しましょう。
          li(class="home-flow__item")
            img(alt="処方" src="../images/flow_head_04.svg" width="254" height="auto" class="home-flow__image")
            p(class="home-flow__desc") 治療方針が決定したら、院内処方を診察室でお受け取りください（※内服7剤以上は院外処方となります）。次回予約をしてお会計となります。
    div(class="home-apps")
      div(class="inner-wrapper inner-wrapper--apps")
        div(class="home-apps__item home-apps__item--welby")
          h2(class="home-apps__head")
            img(src="../images/app01_h.png" alt="welby マイカルテ 〜つながる自己管理ノート〜" class="home-apps__head-image" width="296" height="78")
          div(class="home-apps__body")
            div(class="home-apps__body--inner")
              p(class="home-apps__lead") 「検査結果を<br>スマホで確認できます」
              p(class="home-apps__description") 当院はWelbyマイカルテ導入クリニックです。病院で待たなくても、アプリを使ってスマホで検査結果をチェックできます。詳しくはスタッフまでお問い合わせください。
              p(class="home-apps__attention") 定期受診のある再診の方のみご利用頂けます
          ul(class="home-apps__link-list")
            li(class="home-apps__link-item")
              a(href="#" class="home-apps__anchor")
                img(src="../images/badge_appStore.png" class="home-apps__app-image" alt="App Store からダウンロード" width="205" height="auto")
            li(class="home-apps__link-item")
              a(href="#" class="home-apps__anchor")
                img(src="../images/badge_googlePlay.png" class="home-apps__app-image" alt="Google Play で手に入れよう" width="205" height="auto")
        div(class="home-apps__item home-apps__item--diary")
          h2(class="home-apps__head")
            img(src="../images/app02_h.png" alt="関節リウマチの痛みや症状が医師と伝わるリウマチダイアリー" class="home-apps__head-image" width="296" height="78")
          div(class="home-apps__body")
            div(class="home-apps__body--inner")
              p(class="home-apps__lead") 「スマホで<br>治療の記録ができます」
              p(class="home-apps__description") リウマチダイアリーを使うことで、症状やお薬、日常生活のメモなどを手軽にスマホで記録し、病院と共有することができます。アプリを利用して、治療に役立てましょう。
          ul(class="home-apps__link-list")
            li(class="home-apps__link-item")
              a(href="#" class="home-apps__anchor")
                img(src="../images/badge_appStore.png" class="home-apps__app-image" alt="App Store からダウンロード" width="205" height="auto")
            li(class="home-apps__link-item")
              a(href="#" class="home-apps__anchor")
                img(src="../images/badge_googlePlay.png" class="home-apps__app-image" alt="Google Play で手に入れよう" width="205" height="auto")

    section(class="home-service on-scroll-add-class")
      div(class="inner-wrapper")
        h2(class="content-head content-head--mb")
          span(class="content-head__jp")
            span(class="content-head__char") 診
            span(class="content-head__char") 療
            span(class="content-head__char") 内
            span(class="content-head__char") 容
            span(class="content-head__char") に
            span(class="content-head__char") つ
            span(class="content-head__char") い
            span(class="content-head__char") て
          span(class="content-head__en") Medical Service
        ul(class="slick03-tab medical-service-tab__li")
          li(class="medical-service-tab__item medical-service-tab__item--rheumatoid")
            div(class="medical-service-tab__num")
              <svg id="bg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 50" class="medical-service-tab__num-image"><defs><style>.cls-1{fill:#bebebe;}.cls-2{fill:#fff;}</style></defs><path class="cls-1" d="M50,0A50,50,0,0,0,0,50H100A50,50,0,0,0,50,0Z"/><path class="cls-2" d="M20.45,30.56l-3.59-5.37,1.2-1.89.32.21a1.67,1.67,0,0,0-.21.47.55.55,0,0,0,0,.38,1,1,0,0,0,.31.36,5.32,5.32,0,0,0,.6.43l3.31,2.1a7.54,7.54,0,0,0,.69.4,1.13,1.13,0,0,0,.46.11.6.6,0,0,0,.36-.17,3.2,3.2,0,0,0,.35-.44l.32.2-1.74,2.73-.32-.2a2.92,2.92,0,0,0,.25-.51.58.58,0,0,0,0-.39.93.93,0,0,0-.28-.37,6.11,6.11,0,0,0-.6-.43L18,25.69l-.05.08,4,6-.12.18-7.08-1.1,0,0,3.86,2.45a6.28,6.28,0,0,0,.68.39,1,1,0,0,0,.47.11.51.51,0,0,0,.35-.17,3.15,3.15,0,0,0,.36-.44l.32.2-1.5,2.36-.32-.21a2.92,2.92,0,0,0,.25-.51.65.65,0,0,0,0-.39.85.85,0,0,0-.27-.36,5.22,5.22,0,0,0-.61-.44L14.88,31.7a4.72,4.72,0,0,0-.61-.35.87.87,0,0,0-.44-.11.53.53,0,0,0-.35.13,1.81,1.81,0,0,0-.35.4l-.33-.21,1.29-2,6.34,1.05Z"/><path class="cls-2" d="M27.89,23.38a2.66,2.66,0,0,1-.81,2.2,2.82,2.82,0,0,1-.91.6,2.42,2.42,0,0,1-2-.07,3.06,3.06,0,0,1-.9-.66,3.19,3.19,0,0,1-.63-1,2.71,2.71,0,0,1-.21-1,2.61,2.61,0,0,1,.23-1,2.9,2.9,0,0,1,.66-.92,1.83,1.83,0,0,1,2.87.07c.06.07.09.12.07.16a.53.53,0,0,1-.16.2l-2.38,2.27a1.16,1.16,0,0,0,.11.16l.17.19a3.61,3.61,0,0,0,.74.6,2.21,2.21,0,0,0,.76.28,2,2,0,0,0,.73-.05,1.77,1.77,0,0,0,1.08-1.06,2.92,2.92,0,0,0,.11-.95Zm-3.06-.81c.1-.09.17-.17.23-.23a.48.48,0,0,0,.1-.15.17.17,0,0,0,0-.12.31.31,0,0,0-.09-.12,1,1,0,0,0-.72-.33,1.15,1.15,0,0,0-.77.36,1.34,1.34,0,0,0-.08,1.86Z"/><path class="cls-2" d="M32.21,20.48l0,0a2.21,2.21,0,0,1-.24,1,2,2,0,0,1-.68.71,2.51,2.51,0,0,1-1,.4,2.41,2.41,0,0,1-1,0,2.62,2.62,0,0,1-.93-.43,3.19,3.19,0,0,1-1.22-1.84,2.57,2.57,0,0,1,0-1,2.35,2.35,0,0,1,.38-.93,2.65,2.65,0,0,1,.75-.74,2.12,2.12,0,0,1,.8-.34,2.26,2.26,0,0,1,.89,0l-.57-.85c-.2-.32-.38-.58-.53-.79a4.59,4.59,0,0,0-.33-.41.4.4,0,0,0-.4-.1,2.21,2.21,0,0,0-.68.34l-.16-.25,1.5-1.45,3.18,4.81.64.94a2.91,2.91,0,0,0,.4.5.64.64,0,0,0,.17.13.48.48,0,0,0,.18,0,.79.79,0,0,0,.22-.07l.33-.19.19.28-1.33,1Zm-1.38-1.73a4.15,4.15,0,0,0-.48-.63,1.07,1.07,0,0,0-.44-.27,1.55,1.55,0,0,0-.74-.06,1.69,1.69,0,0,0-.68.26,1.21,1.21,0,0,0-.58,1.1,2.93,2.93,0,0,0,.58,1.55,3.62,3.62,0,0,0,.61.75,2.29,2.29,0,0,0,.63.46,1.39,1.39,0,0,0,.65.14,1.24,1.24,0,0,0,.62-.21,2.09,2.09,0,0,0,.28-.24,1.33,1.33,0,0,0,.23-.3,1.58,1.58,0,0,0,.16-.35,1.53,1.53,0,0,0,.07-.36,1.74,1.74,0,0,0-.13-.55,4.74,4.74,0,0,0-.42-.74Z"/><path class="cls-2" d="M32,13.15a.59.59,0,0,1,0-.47.58.58,0,0,1,.32-.35.62.62,0,0,1,.48,0,.63.63,0,0,1,.35.33.59.59,0,0,1,0,.47.58.58,0,0,1-.32.35.62.62,0,0,1-.48,0A.58.58,0,0,1,32,13.15ZM35.5,18a4.26,4.26,0,0,0,.3.55.93.93,0,0,0,.28.28.53.53,0,0,0,.33,0,2,2,0,0,0,.46-.15L37,19l-2.6,1.22-.15-.31a3.11,3.11,0,0,0,.42-.27.59.59,0,0,0,.19-.29.72.72,0,0,0,0-.38,5.61,5.61,0,0,0-.22-.53l-.54-1.16-.42-.86a3.08,3.08,0,0,0-.27-.44.44.44,0,0,0-.34-.19,1.78,1.78,0,0,0-.65.21l-.15-.31,1.61-1.18Z"/><path class="cls-2" d="M41.53,16.57a2.44,2.44,0,0,1-.67.94,3,3,0,0,1-1.1.61A2.3,2.3,0,0,1,37.88,18a2.55,2.55,0,0,1-.74-.66,3.62,3.62,0,0,1-.51-1,3.27,3.27,0,0,1-.17-1.16,2.49,2.49,0,0,1,.27-1,2.38,2.38,0,0,1,.66-.8,3.09,3.09,0,0,1,1-.54,3.79,3.79,0,0,1,.69-.16,2.8,2.8,0,0,1,.58,0,1.09,1.09,0,0,1,.44.15.56.56,0,0,1,.23.3.4.4,0,0,1,0,.34.61.61,0,0,1-.31.21.48.48,0,0,1-.31,0,1.16,1.16,0,0,1-.4-.22,1.36,1.36,0,0,0-.47-.19,1.09,1.09,0,0,0-.48.06,1.21,1.21,0,0,0-.85.86,2.93,2.93,0,0,0,.16,1.65,3.09,3.09,0,0,0,.93,1.53,1.33,1.33,0,0,0,1.31.2,2,2,0,0,0,.7-.4,2.58,2.58,0,0,0,.54-.74Z"/><path class="cls-2" d="M44.72,13.41,44.65,13c-.13-.8-.54-1.14-1.22-1a1.42,1.42,0,0,0-.28.07.44.44,0,0,0-.18.14.51.51,0,0,0-.12.22c0,.09-.05.2-.07.33a1,1,0,0,1-.15.42.44.44,0,0,1-.28.14.45.45,0,0,1-.58-.41.82.82,0,0,1,.39-.82,3.15,3.15,0,0,1,1.38-.5,2.32,2.32,0,0,1,1.46.12,1.5,1.5,0,0,1,.61,1.13L46,15q.2,1.13.63,1.05a1,1,0,0,0,.26-.08.35.35,0,0,0,.19-.22l.18.22a1,1,0,0,1-.37.45,1.7,1.7,0,0,1-.64.26.76.76,0,0,1-.69-.17,1.25,1.25,0,0,1-.34-.75h0a1.91,1.91,0,0,1-.59.88,1.86,1.86,0,0,1-1,.45,1.4,1.4,0,0,1-1-.16,1.08,1.08,0,0,1-.49-.79,1.24,1.24,0,0,1,0-.47,1.27,1.27,0,0,1,.2-.45,2.62,2.62,0,0,1,.43-.47,5.37,5.37,0,0,1,.69-.52Zm.07.42c-.35.21-.65.4-.89.58a3.51,3.51,0,0,0-.55.52,1.39,1.39,0,0,0-.28.47,1,1,0,0,0,0,.44.76.76,0,0,0,.3.5.83.83,0,0,0,.61.11,1,1,0,0,0,.46-.2,1.4,1.4,0,0,0,.33-.42,1.59,1.59,0,0,0,.18-.57,2.36,2.36,0,0,0,0-.65Z"/><path class="cls-2" d="M49.09,14.88c0,.25,0,.45,0,.6a.8.8,0,0,0,.14.36.53.53,0,0,0,.28.17,2,2,0,0,0,.47,0v.35l-2.76.11v-.35a2.29,2.29,0,0,0,.48-.09.59.59,0,0,0,.27-.18.69.69,0,0,0,.13-.34,3.42,3.42,0,0,0,0-.57L48,10.67c0-.35,0-.66-.05-.9a3.94,3.94,0,0,0-.06-.49.41.41,0,0,0-.25-.3A1.87,1.87,0,0,0,47,8.92V8.58l1.88-.44Z"/><path class="cls-2" d="M53.8,14.18l.36.06a2.57,2.57,0,0,0,.11.85,2.12,2.12,0,0,0,1,1.19,2.53,2.53,0,0,0,.8.28,1.77,1.77,0,0,0,1.21-.14,1.14,1.14,0,0,0,.59-.85,1.24,1.24,0,0,0,0-.47,1.14,1.14,0,0,0-.21-.45,2.51,2.51,0,0,0-.46-.48,7.39,7.39,0,0,0-.75-.55,7.46,7.46,0,0,1-.93-.7,2.71,2.71,0,0,1-.57-.63,1.84,1.84,0,0,1-.25-.63,2.39,2.39,0,0,1,0-.7,2.22,2.22,0,0,1,.32-.81,2,2,0,0,1,.58-.58,2.07,2.07,0,0,1,.77-.3,2.58,2.58,0,0,1,.92,0,2.42,2.42,0,0,1,.78.29,3,3,0,0,1,.68.58l.33-.4.23,0-.25,2-.36-.06a2.56,2.56,0,0,0-.47-1.33,1.59,1.59,0,0,0-1-.59,1.51,1.51,0,0,0-1,.12,1,1,0,0,0-.5.74,1.09,1.09,0,0,0,0,.44,1.15,1.15,0,0,0,.19.41,3,3,0,0,0,.4.43,5.59,5.59,0,0,0,.64.48,13,13,0,0,1,1.1.83,3.9,3.9,0,0,1,.67.7,1.59,1.59,0,0,1,.29.66,1.93,1.93,0,0,1,0,.72,2.11,2.11,0,0,1-.36.87,2.33,2.33,0,0,1-.68.61,2.82,2.82,0,0,1-.93.3,3.48,3.48,0,0,1-1.11,0,3,3,0,0,1-1-.35,3.17,3.17,0,0,1-.82-.69l-.36.43-.23,0Z"/><path class="cls-2" d="M64.06,18.42a2.61,2.61,0,0,1-2.33.24,2.83,2.83,0,0,1-.94-.56,2.38,2.38,0,0,1-.58-.8,2.3,2.3,0,0,1-.21-1,3.08,3.08,0,0,1,.2-1.09,3,3,0,0,1,.58-1,2.36,2.36,0,0,1,.84-.64,2.64,2.64,0,0,1,1-.25,2.89,2.89,0,0,1,1.11.19,2,2,0,0,1,1.23,1,2,2,0,0,1,0,1.59c0,.09-.07.14-.11.14a.5.5,0,0,1-.25-.06L61.5,15.09a1.94,1.94,0,0,0-.1.17l-.09.23a3.08,3.08,0,0,0-.21.94,2.29,2.29,0,0,0,.08.8,1.67,1.67,0,0,0,.37.63,1.6,1.6,0,0,0,.62.41,1.82,1.82,0,0,0,.8.09,2.68,2.68,0,0,0,.9-.31Zm-.61-3.11.3.11a.45.45,0,0,0,.19,0,.14.14,0,0,0,.1,0,.32.32,0,0,0,.07-.13.94.94,0,0,0,0-.79,1.17,1.17,0,0,0-.66-.54,1.34,1.34,0,0,0-1.71.75Z"/><path class="cls-2" d="M66.7,19.08a6.17,6.17,0,0,0-.29.58.71.71,0,0,0-.09.37.42.42,0,0,0,.14.26l.36.27-.16.31-2.34-1.28.17-.31a2.33,2.33,0,0,0,.43.17.46.46,0,0,0,.31,0,.73.73,0,0,0,.27-.24c.08-.13.19-.3.31-.52l.56-1c.22-.4.39-.71.5-.94a1.56,1.56,0,0,0,.18-.53.34.34,0,0,0-.13-.32,2.19,2.19,0,0,0-.42-.27l.17-.31,1.72.51-.48,1.16h0a2.33,2.33,0,0,1,.55-.32,2.47,2.47,0,0,1,.57-.17,2.11,2.11,0,0,1,.56,0,1.41,1.41,0,0,1,.49.16.75.75,0,0,1,.37.38.48.48,0,0,1,0,.45.47.47,0,0,1-.31.26.62.62,0,0,1-.44-.09.8.8,0,0,1-.22-.17l-.13-.17-.1-.15a.43.43,0,0,0-.12-.11.73.73,0,0,0-.64,0,2.66,2.66,0,0,0-.79.57,4.77,4.77,0,0,0-.43.51,5.93,5.93,0,0,0-.4.65Z"/><path class="cls-2" d="M71.28,18.93a4.37,4.37,0,0,0,.12-.51,1,1,0,0,0,0-.34.56.56,0,0,0-.13-.24L71,17.62l.21-.28L73.35,19l-.21.28L72.86,19a.6.6,0,0,0-.19-.08.17.17,0,0,0-.14,0,.54.54,0,0,0-.14.13,1.08,1.08,0,0,0-.15.28c0,.1-.08.2-.11.3l-.92,2.94,0,0,2-1.16A5.88,5.88,0,0,0,74,21a2.06,2.06,0,0,0,.4-.36.36.36,0,0,0,.09-.32,1.05,1.05,0,0,0-.36-.38l.21-.28,1.58,1.21-.22.28a.46.46,0,0,0-.27-.11,1.06,1.06,0,0,0-.31,0,1.59,1.59,0,0,0-.31.14l-.37.2a3.13,3.13,0,0,0-.36.22l-.3.17-3.23,1.8-.46-.36Z"/><path class="cls-2" d="M75.31,25.62a3.18,3.18,0,0,0-.42.46,1,1,0,0,0-.17.36.57.57,0,0,0,.07.33,2.4,2.4,0,0,0,.29.38l-.24.25-2-2,.25-.24a3.45,3.45,0,0,0,.39.3.63.63,0,0,0,.34.08.71.71,0,0,0,.34-.15,4.16,4.16,0,0,0,.44-.38l.9-.9c.28-.28.5-.5.67-.69a2.43,2.43,0,0,0,.33-.4.44.44,0,0,0,.06-.38,2,2,0,0,0-.42-.55l.25-.24L78,22.93Zm3.32-4.94a.62.62,0,0,1,.44-.18.6.6,0,0,1,.44.18.58.58,0,0,1,.18.44.62.62,0,0,1-1.06.44.62.62,0,0,1-.18-.44A.6.6,0,0,1,78.63,20.68Z"/><path class="cls-2" d="M78.63,30.84a2.47,2.47,0,0,1-1.11-.32,3.18,3.18,0,0,1-.94-.82,2.22,2.22,0,0,1-.44-.9,2.29,2.29,0,0,1,0-.94,2.56,2.56,0,0,1,.38-.91,3.5,3.5,0,0,1,1.81-1.37,2.65,2.65,0,0,1,1-.09,2.43,2.43,0,0,1,1,.36,3.4,3.4,0,0,1,.85.77,3.77,3.77,0,0,1,.38.61,2.31,2.31,0,0,1,.2.55,1.18,1.18,0,0,1,0,.46.63.63,0,0,1-.2.32.38.38,0,0,1-.33.08.54.54,0,0,1-.31-.21.6.6,0,0,1-.12-.29,1.4,1.4,0,0,1,.08-.45,1.45,1.45,0,0,0,0-.5,1.13,1.13,0,0,0-.22-.44,1.21,1.21,0,0,0-1.09-.51,3,3,0,0,0-1.51.7,3.14,3.14,0,0,0-1.13,1.39,1.34,1.34,0,0,0,.26,1.3,1.93,1.93,0,0,0,.61.53,2.86,2.86,0,0,0,.88.26Z"/><path class="cls-2" d="M81.35,35.5a2.62,2.62,0,0,1-1.91-1.36,2.78,2.78,0,0,1-.34-1,2.36,2.36,0,0,1,.09-1,2.54,2.54,0,0,1,.48-.88,3.46,3.46,0,0,1,.88-.69,3.13,3.13,0,0,1,1.08-.36,2.51,2.51,0,0,1,1.06.07,2.62,2.62,0,0,1,.92.48,3.1,3.1,0,0,1,.72.87,2.07,2.07,0,0,1,.25,1.57,2,2,0,0,1-1.07,1.19c-.08,0-.13.05-.17,0a.5.5,0,0,1-.15-.21L81.61,31.3l-.18.07-.23.11a3.58,3.58,0,0,0-.77.57,2,2,0,0,0-.46.66,1.61,1.61,0,0,0-.14.71,1.56,1.56,0,0,0,.2.72,1.72,1.72,0,0,0,.54.6,2.48,2.48,0,0,0,.88.35Zm1.58-2.74c.07.12.12.21.17.28a.38.38,0,0,0,.12.13.11.11,0,0,0,.11,0,.3.3,0,0,0,.14-.05.94.94,0,0,0,.5-.61,1.13,1.13,0,0,0-.14-.84,1.35,1.35,0,0,0-1.78-.56Z"/><path class="cls-2" d="M51.06,42.67a8.44,8.44,0,0,0,.07,1.25,1.52,1.52,0,0,0,.29.74,1.17,1.17,0,0,0,.63.37,5.71,5.71,0,0,0,1.09.12v.76H47v-.76A4.79,4.79,0,0,0,48.09,45a1.33,1.33,0,0,0,.64-.36A1.37,1.37,0,0,0,49,44a7.35,7.35,0,0,0,.07-1.15V35.47c0-.77,0-1.42,0-1.92a5.76,5.76,0,0,0-.07-1,.68.68,0,0,0-.6-.54,7.94,7.94,0,0,0-1.5-.1v-.76A13.38,13.38,0,0,0,49,30.88a19.44,19.44,0,0,0,2.07-.57Z"/></svg>
            p(class="medical-service-tab__title") リウマチ科
          li(class="medical-service-tab__item medical-service-tab__item--internal")
            div(class="medical-service-tab__num")
              <svg id="bg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 50" class="medical-service-tab__num-image"><defs><style>.cls-1{fill:#bebebe;}.cls-2{fill:#fff;}</style></defs><path class="cls-1" d="M50,0A50,50,0,0,0,0,50H100A50,50,0,0,0,50,0Z"/><path class="cls-2" d="M47.76,44h4a3.49,3.49,0,0,0,.84-.09,1.49,1.49,0,0,0,.64-.35,2.48,2.48,0,0,0,.5-.71,8.78,8.78,0,0,0,.44-1.15h.74l-.76,4.26h-9.3v-.66q2.28-2,3.75-3.57a22.9,22.9,0,0,0,2.31-2.75,8.64,8.64,0,0,0,1.16-2.25,7.17,7.17,0,0,0,.32-2.09,3.78,3.78,0,0,0-.73-2.46,2.43,2.43,0,0,0-2-.9,2.58,2.58,0,0,0-1.95.78A2.79,2.79,0,0,0,47,34a2.46,2.46,0,0,0,.59,1.72,2.1,2.1,0,0,0,1.61.64,1.24,1.24,0,0,1-.52.77,1.82,1.82,0,0,1-1,.29,2.5,2.5,0,0,1-1-.22,2.62,2.62,0,0,1-.82-.62,3.05,3.05,0,0,1-.54-.95A3.61,3.61,0,0,1,45,34.46a3.68,3.68,0,0,1,.38-1.66,3.9,3.9,0,0,1,1-1.31A4.87,4.87,0,0,1,48,30.62a5.73,5.73,0,0,1,2-.32,5.49,5.49,0,0,1,1.94.32,4.44,4.44,0,0,1,1.52.9,3.86,3.86,0,0,1,1,1.37,4.31,4.31,0,0,1,.35,1.75,5.73,5.73,0,0,1-.55,2.43,10.91,10.91,0,0,1-1.51,2.34,20.69,20.69,0,0,1-2.24,2.26c-.85.74-1.77,1.47-2.74,2.19Z"/><path class="cls-2" d="M20.45,30.56l-3.59-5.37,1.2-1.89.32.21a1.67,1.67,0,0,0-.21.47.55.55,0,0,0,0,.38,1,1,0,0,0,.31.36,5.32,5.32,0,0,0,.6.43l3.31,2.1a7.54,7.54,0,0,0,.69.4,1.13,1.13,0,0,0,.46.11.6.6,0,0,0,.36-.17,3.2,3.2,0,0,0,.35-.44l.32.2-1.74,2.73-.32-.2a2.92,2.92,0,0,0,.25-.51.58.58,0,0,0,0-.39.93.93,0,0,0-.28-.37,6.11,6.11,0,0,0-.6-.43L18,25.69l-.05.08,4,6-.12.18-7.08-1.1,0,0,3.86,2.45a6.28,6.28,0,0,0,.68.39,1,1,0,0,0,.47.11.51.51,0,0,0,.35-.17,3.15,3.15,0,0,0,.36-.44l.32.2-1.5,2.36-.32-.21a2.92,2.92,0,0,0,.25-.51.65.65,0,0,0,0-.39.85.85,0,0,0-.27-.36,5.22,5.22,0,0,0-.61-.44L14.88,31.7a4.72,4.72,0,0,0-.61-.35.87.87,0,0,0-.44-.11.53.53,0,0,0-.35.13,1.81,1.81,0,0,0-.35.4l-.33-.21,1.29-2,6.34,1.05Z"/><path class="cls-2" d="M27.89,23.38a2.66,2.66,0,0,1-.81,2.2,2.82,2.82,0,0,1-.91.6,2.42,2.42,0,0,1-2-.07,3.06,3.06,0,0,1-.9-.66,3.19,3.19,0,0,1-.63-1,2.71,2.71,0,0,1-.21-1,2.61,2.61,0,0,1,.23-1,2.9,2.9,0,0,1,.66-.92,1.83,1.83,0,0,1,2.87.07c.06.07.09.12.07.16a.53.53,0,0,1-.16.2l-2.38,2.27a1.16,1.16,0,0,0,.11.16l.17.19a3.61,3.61,0,0,0,.74.6,2.21,2.21,0,0,0,.76.28,2,2,0,0,0,.73-.05,1.77,1.77,0,0,0,1.08-1.06,2.92,2.92,0,0,0,.11-.95Zm-3.06-.81c.1-.09.17-.17.23-.23a.48.48,0,0,0,.1-.15.17.17,0,0,0,0-.12.31.31,0,0,0-.09-.12,1,1,0,0,0-.72-.33,1.15,1.15,0,0,0-.77.36,1.34,1.34,0,0,0-.08,1.86Z"/><path class="cls-2" d="M32.21,20.48l0,0a2.21,2.21,0,0,1-.24,1,2,2,0,0,1-.68.71,2.51,2.51,0,0,1-1,.4,2.41,2.41,0,0,1-1,0,2.62,2.62,0,0,1-.93-.43,3.19,3.19,0,0,1-1.22-1.84,2.57,2.57,0,0,1,0-1,2.35,2.35,0,0,1,.38-.93,2.65,2.65,0,0,1,.75-.74,2.12,2.12,0,0,1,.8-.34,2.26,2.26,0,0,1,.89,0l-.57-.85c-.2-.32-.38-.58-.53-.79a4.59,4.59,0,0,0-.33-.41.4.4,0,0,0-.4-.1,2.21,2.21,0,0,0-.68.34l-.16-.25,1.5-1.45,3.18,4.81.64.94a2.91,2.91,0,0,0,.4.5.64.64,0,0,0,.17.13.48.48,0,0,0,.18,0,.79.79,0,0,0,.22-.07l.33-.19.19.28-1.33,1Zm-1.38-1.73a4.15,4.15,0,0,0-.48-.63,1.07,1.07,0,0,0-.44-.27,1.55,1.55,0,0,0-.74-.06,1.69,1.69,0,0,0-.68.26,1.21,1.21,0,0,0-.58,1.1,2.93,2.93,0,0,0,.58,1.55,3.62,3.62,0,0,0,.61.75,2.29,2.29,0,0,0,.63.46,1.39,1.39,0,0,0,.65.14,1.24,1.24,0,0,0,.62-.21,2.09,2.09,0,0,0,.28-.24,1.33,1.33,0,0,0,.23-.3,1.58,1.58,0,0,0,.16-.35,1.53,1.53,0,0,0,.07-.36,1.74,1.74,0,0,0-.13-.55,4.74,4.74,0,0,0-.42-.74Z"/><path class="cls-2" d="M32,13.15a.59.59,0,0,1,0-.47.58.58,0,0,1,.32-.35.62.62,0,0,1,.48,0,.63.63,0,0,1,.35.33.59.59,0,0,1,0,.47.58.58,0,0,1-.32.35.62.62,0,0,1-.48,0A.58.58,0,0,1,32,13.15ZM35.5,18a4.26,4.26,0,0,0,.3.55.93.93,0,0,0,.28.28.53.53,0,0,0,.33,0,2,2,0,0,0,.46-.15L37,19l-2.6,1.22-.15-.31a3.11,3.11,0,0,0,.42-.27.59.59,0,0,0,.19-.29.72.72,0,0,0,0-.38,5.61,5.61,0,0,0-.22-.53l-.54-1.16-.42-.86a3.08,3.08,0,0,0-.27-.44.44.44,0,0,0-.34-.19,1.78,1.78,0,0,0-.65.21l-.15-.31,1.61-1.18Z"/><path class="cls-2" d="M41.53,16.57a2.44,2.44,0,0,1-.67.94,3,3,0,0,1-1.1.61A2.3,2.3,0,0,1,37.88,18a2.55,2.55,0,0,1-.74-.66,3.62,3.62,0,0,1-.51-1,3.27,3.27,0,0,1-.17-1.16,2.49,2.49,0,0,1,.27-1,2.38,2.38,0,0,1,.66-.8,3.09,3.09,0,0,1,1-.54,3.79,3.79,0,0,1,.69-.16,2.8,2.8,0,0,1,.58,0,1.09,1.09,0,0,1,.44.15.56.56,0,0,1,.23.3.4.4,0,0,1,0,.34.61.61,0,0,1-.31.21.48.48,0,0,1-.31,0,1.16,1.16,0,0,1-.4-.22,1.36,1.36,0,0,0-.47-.19,1.09,1.09,0,0,0-.48.06,1.21,1.21,0,0,0-.85.86,2.93,2.93,0,0,0,.16,1.65,3.09,3.09,0,0,0,.93,1.53,1.33,1.33,0,0,0,1.31.2,2,2,0,0,0,.7-.4,2.58,2.58,0,0,0,.54-.74Z"/><path class="cls-2" d="M44.72,13.41,44.65,13c-.13-.8-.54-1.14-1.22-1a1.42,1.42,0,0,0-.28.07.44.44,0,0,0-.18.14.51.51,0,0,0-.12.22c0,.09-.05.2-.07.33a1,1,0,0,1-.15.42.44.44,0,0,1-.28.14.45.45,0,0,1-.58-.41.82.82,0,0,1,.39-.82,3.15,3.15,0,0,1,1.38-.5,2.32,2.32,0,0,1,1.46.12,1.5,1.5,0,0,1,.61,1.13L46,15q.2,1.13.63,1.05a1,1,0,0,0,.26-.08.35.35,0,0,0,.19-.22l.18.22a1,1,0,0,1-.37.45,1.7,1.7,0,0,1-.64.26.76.76,0,0,1-.69-.17,1.25,1.25,0,0,1-.34-.75h0a1.91,1.91,0,0,1-.59.88,1.86,1.86,0,0,1-1,.45,1.4,1.4,0,0,1-1-.16,1.08,1.08,0,0,1-.49-.79,1.24,1.24,0,0,1,0-.47,1.27,1.27,0,0,1,.2-.45,2.62,2.62,0,0,1,.43-.47,5.37,5.37,0,0,1,.69-.52Zm.07.42c-.35.21-.65.4-.89.58a3.51,3.51,0,0,0-.55.52,1.39,1.39,0,0,0-.28.47,1,1,0,0,0,0,.44.76.76,0,0,0,.3.5.83.83,0,0,0,.61.11,1,1,0,0,0,.46-.2,1.4,1.4,0,0,0,.33-.42,1.59,1.59,0,0,0,.18-.57,2.36,2.36,0,0,0,0-.65Z"/><path class="cls-2" d="M49.09,14.88c0,.25,0,.45,0,.6a.8.8,0,0,0,.14.36.53.53,0,0,0,.28.17,2,2,0,0,0,.47,0v.35l-2.76.11v-.35a2.29,2.29,0,0,0,.48-.09.59.59,0,0,0,.27-.18.69.69,0,0,0,.13-.34,3.42,3.42,0,0,0,0-.57L48,10.67c0-.35,0-.66-.05-.9a3.94,3.94,0,0,0-.06-.49.41.41,0,0,0-.25-.3A1.87,1.87,0,0,0,47,8.92V8.58l1.88-.44Z"/><path class="cls-2" d="M53.8,14.18l.36.06a2.57,2.57,0,0,0,.11.85,2.12,2.12,0,0,0,1,1.19,2.53,2.53,0,0,0,.8.28,1.77,1.77,0,0,0,1.21-.14,1.14,1.14,0,0,0,.59-.85,1.24,1.24,0,0,0,0-.47,1.14,1.14,0,0,0-.21-.45,2.51,2.51,0,0,0-.46-.48,7.39,7.39,0,0,0-.75-.55,7.46,7.46,0,0,1-.93-.7,2.71,2.71,0,0,1-.57-.63,1.84,1.84,0,0,1-.25-.63,2.39,2.39,0,0,1,0-.7,2.22,2.22,0,0,1,.32-.81,2,2,0,0,1,.58-.58,2.07,2.07,0,0,1,.77-.3,2.58,2.58,0,0,1,.92,0,2.42,2.42,0,0,1,.78.29,3,3,0,0,1,.68.58l.33-.4.23,0-.25,2-.36-.06a2.56,2.56,0,0,0-.47-1.33,1.59,1.59,0,0,0-1-.59,1.51,1.51,0,0,0-1,.12,1,1,0,0,0-.5.74,1.09,1.09,0,0,0,0,.44,1.15,1.15,0,0,0,.19.41,3,3,0,0,0,.4.43,5.59,5.59,0,0,0,.64.48,13,13,0,0,1,1.1.83,3.9,3.9,0,0,1,.67.7,1.59,1.59,0,0,1,.29.66,1.93,1.93,0,0,1,0,.72,2.11,2.11,0,0,1-.36.87,2.33,2.33,0,0,1-.68.61,2.82,2.82,0,0,1-.93.3,3.48,3.48,0,0,1-1.11,0,3,3,0,0,1-1-.35,3.17,3.17,0,0,1-.82-.69l-.36.43-.23,0Z"/><path class="cls-2" d="M64.06,18.42a2.61,2.61,0,0,1-2.33.24,2.83,2.83,0,0,1-.94-.56,2.38,2.38,0,0,1-.58-.8,2.3,2.3,0,0,1-.21-1,3.08,3.08,0,0,1,.2-1.09,3,3,0,0,1,.58-1,2.36,2.36,0,0,1,.84-.64,2.64,2.64,0,0,1,1-.25,2.89,2.89,0,0,1,1.11.19,2,2,0,0,1,1.23,1,2,2,0,0,1,0,1.59c0,.09-.07.14-.11.14a.5.5,0,0,1-.25-.06L61.5,15.09a1.94,1.94,0,0,0-.1.17l-.09.23a3.08,3.08,0,0,0-.21.94,2.29,2.29,0,0,0,.08.8,1.67,1.67,0,0,0,.37.63,1.6,1.6,0,0,0,.62.41,1.82,1.82,0,0,0,.8.09,2.68,2.68,0,0,0,.9-.31Zm-.61-3.11.3.11a.45.45,0,0,0,.19,0,.14.14,0,0,0,.1,0,.32.32,0,0,0,.07-.13.94.94,0,0,0,0-.79,1.17,1.17,0,0,0-.66-.54,1.34,1.34,0,0,0-1.71.75Z"/><path class="cls-2" d="M66.7,19.08a6.17,6.17,0,0,0-.29.58.71.71,0,0,0-.09.37.42.42,0,0,0,.14.26l.36.27-.16.31-2.34-1.28.17-.31a2.33,2.33,0,0,0,.43.17.46.46,0,0,0,.31,0,.73.73,0,0,0,.27-.24c.08-.13.19-.3.31-.52l.56-1c.22-.4.39-.71.5-.94a1.56,1.56,0,0,0,.18-.53.34.34,0,0,0-.13-.32,2.19,2.19,0,0,0-.42-.27l.17-.31,1.72.51-.48,1.16h0a2.33,2.33,0,0,1,.55-.32,2.47,2.47,0,0,1,.57-.17,2.11,2.11,0,0,1,.56,0,1.41,1.41,0,0,1,.49.16.75.75,0,0,1,.37.38.48.48,0,0,1,0,.45.47.47,0,0,1-.31.26.62.62,0,0,1-.44-.09.8.8,0,0,1-.22-.17l-.13-.17-.1-.15a.43.43,0,0,0-.12-.11.73.73,0,0,0-.64,0,2.66,2.66,0,0,0-.79.57,4.77,4.77,0,0,0-.43.51,5.93,5.93,0,0,0-.4.65Z"/><path class="cls-2" d="M71.28,18.93a4.37,4.37,0,0,0,.12-.51,1,1,0,0,0,0-.34.56.56,0,0,0-.13-.24L71,17.62l.21-.28L73.35,19l-.21.28L72.86,19a.6.6,0,0,0-.19-.08.17.17,0,0,0-.14,0,.54.54,0,0,0-.14.13,1.08,1.08,0,0,0-.15.28c0,.1-.08.2-.11.3l-.92,2.94,0,0,2-1.16A5.88,5.88,0,0,0,74,21a2.06,2.06,0,0,0,.4-.36.36.36,0,0,0,.09-.32,1.05,1.05,0,0,0-.36-.38l.21-.28,1.58,1.21-.22.28a.46.46,0,0,0-.27-.11,1.06,1.06,0,0,0-.31,0,1.59,1.59,0,0,0-.31.14l-.37.2a3.13,3.13,0,0,0-.36.22l-.3.17-3.23,1.8-.46-.36Z"/><path class="cls-2" d="M75.31,25.62a3.18,3.18,0,0,0-.42.46,1,1,0,0,0-.17.36.57.57,0,0,0,.07.33,2.4,2.4,0,0,0,.29.38l-.24.25-2-2,.25-.24a3.45,3.45,0,0,0,.39.3.63.63,0,0,0,.34.08.71.71,0,0,0,.34-.15,4.16,4.16,0,0,0,.44-.38l.9-.9c.28-.28.5-.5.67-.69a2.43,2.43,0,0,0,.33-.4.44.44,0,0,0,.06-.38,2,2,0,0,0-.42-.55l.25-.24L78,22.93Zm3.32-4.94a.62.62,0,0,1,.44-.18.6.6,0,0,1,.44.18.58.58,0,0,1,.18.44.62.62,0,0,1-1.06.44.62.62,0,0,1-.18-.44A.6.6,0,0,1,78.63,20.68Z"/><path class="cls-2" d="M78.63,30.84a2.47,2.47,0,0,1-1.11-.32,3.18,3.18,0,0,1-.94-.82,2.22,2.22,0,0,1-.44-.9,2.29,2.29,0,0,1,0-.94,2.56,2.56,0,0,1,.38-.91,3.5,3.5,0,0,1,1.81-1.37,2.65,2.65,0,0,1,1-.09,2.43,2.43,0,0,1,1,.36,3.4,3.4,0,0,1,.85.77,3.77,3.77,0,0,1,.38.61,2.31,2.31,0,0,1,.2.55,1.18,1.18,0,0,1,0,.46.63.63,0,0,1-.2.32.38.38,0,0,1-.33.08.54.54,0,0,1-.31-.21.6.6,0,0,1-.12-.29,1.4,1.4,0,0,1,.08-.45,1.45,1.45,0,0,0,0-.5,1.13,1.13,0,0,0-.22-.44,1.21,1.21,0,0,0-1.09-.51,3,3,0,0,0-1.51.7,3.14,3.14,0,0,0-1.13,1.39,1.34,1.34,0,0,0,.26,1.3,1.93,1.93,0,0,0,.61.53,2.86,2.86,0,0,0,.88.26Z"/><path class="cls-2" d="M81.35,35.5a2.62,2.62,0,0,1-1.91-1.36,2.78,2.78,0,0,1-.34-1,2.36,2.36,0,0,1,.09-1,2.54,2.54,0,0,1,.48-.88,3.46,3.46,0,0,1,.88-.69,3.13,3.13,0,0,1,1.08-.36,2.51,2.51,0,0,1,1.06.07,2.62,2.62,0,0,1,.92.48,3.1,3.1,0,0,1,.72.87,2.07,2.07,0,0,1,.25,1.57,2,2,0,0,1-1.07,1.19c-.08,0-.13.05-.17,0a.5.5,0,0,1-.15-.21L81.61,31.3l-.18.07-.23.11a3.58,3.58,0,0,0-.77.57,2,2,0,0,0-.46.66,1.61,1.61,0,0,0-.14.71,1.56,1.56,0,0,0,.2.72,1.72,1.72,0,0,0,.54.6,2.48,2.48,0,0,0,.88.35Zm1.58-2.74c.07.12.12.21.17.28a.38.38,0,0,0,.12.13.11.11,0,0,0,.11,0,.3.3,0,0,0,.14-.05.94.94,0,0,0,.5-.61,1.13,1.13,0,0,0-.14-.84,1.35,1.35,0,0,0-1.78-.56Z"/></svg>
            p(class="medical-service-tab__title") 内科
          li(class="medical-service-tab__item medical-service-tab__item--aging")
            div(class="medical-service-tab__num")
              <svg id="bg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 50" class="medical-service-tab__num-image"><defs><style>.cls-1{fill:#bebebe;}.cls-2{fill:#fff;}</style></defs><path class="cls-1" d="M50,0A50,50,0,0,0,0,50H100A50,50,0,0,0,50,0Z"/><path class="cls-2" d="M20.45,30.56l-3.59-5.37,1.2-1.89.32.21a1.67,1.67,0,0,0-.21.47.55.55,0,0,0,0,.38,1,1,0,0,0,.31.36,5.32,5.32,0,0,0,.6.43l3.31,2.1a7.54,7.54,0,0,0,.69.4,1.13,1.13,0,0,0,.46.11.6.6,0,0,0,.36-.17,3.2,3.2,0,0,0,.35-.44l.32.2-1.74,2.73-.32-.2a2.92,2.92,0,0,0,.25-.51.58.58,0,0,0,0-.39.93.93,0,0,0-.28-.37,6.11,6.11,0,0,0-.6-.43L18,25.69l-.05.08,4,6-.12.18-7.08-1.1,0,0,3.86,2.45a6.28,6.28,0,0,0,.68.39,1,1,0,0,0,.47.11.51.51,0,0,0,.35-.17,3.15,3.15,0,0,0,.36-.44l.32.2-1.5,2.36-.32-.21a2.92,2.92,0,0,0,.25-.51.65.65,0,0,0,0-.39.85.85,0,0,0-.27-.36,5.22,5.22,0,0,0-.61-.44L14.88,31.7a4.72,4.72,0,0,0-.61-.35.87.87,0,0,0-.44-.11.53.53,0,0,0-.35.13,1.81,1.81,0,0,0-.35.4l-.33-.21,1.29-2,6.34,1.05Z"/><path class="cls-2" d="M27.89,23.38a2.66,2.66,0,0,1-.81,2.2,2.82,2.82,0,0,1-.91.6,2.42,2.42,0,0,1-2-.07,3.06,3.06,0,0,1-.9-.66,3.19,3.19,0,0,1-.63-1,2.71,2.71,0,0,1-.21-1,2.61,2.61,0,0,1,.23-1,2.9,2.9,0,0,1,.66-.92,1.83,1.83,0,0,1,2.87.07c.06.07.09.12.07.16a.53.53,0,0,1-.16.2l-2.38,2.27a1.16,1.16,0,0,0,.11.16l.17.19a3.61,3.61,0,0,0,.74.6,2.21,2.21,0,0,0,.76.28,2,2,0,0,0,.73-.05,1.77,1.77,0,0,0,1.08-1.06,2.92,2.92,0,0,0,.11-.95Zm-3.06-.81c.1-.09.17-.17.23-.23a.48.48,0,0,0,.1-.15.17.17,0,0,0,0-.12.31.31,0,0,0-.09-.12,1,1,0,0,0-.72-.33,1.15,1.15,0,0,0-.77.36,1.34,1.34,0,0,0-.08,1.86Z"/><path class="cls-2" d="M32.21,20.48l0,0a2.21,2.21,0,0,1-.24,1,2,2,0,0,1-.68.71,2.51,2.51,0,0,1-1,.4,2.41,2.41,0,0,1-1,0,2.62,2.62,0,0,1-.93-.43,3.19,3.19,0,0,1-1.22-1.84,2.57,2.57,0,0,1,0-1,2.35,2.35,0,0,1,.38-.93,2.65,2.65,0,0,1,.75-.74,2.12,2.12,0,0,1,.8-.34,2.26,2.26,0,0,1,.89,0l-.57-.85c-.2-.32-.38-.58-.53-.79a4.59,4.59,0,0,0-.33-.41.4.4,0,0,0-.4-.1,2.21,2.21,0,0,0-.68.34l-.16-.25,1.5-1.45,3.18,4.81.64.94a2.91,2.91,0,0,0,.4.5.64.64,0,0,0,.17.13.48.48,0,0,0,.18,0,.79.79,0,0,0,.22-.07l.33-.19.19.28-1.33,1Zm-1.38-1.73a4.15,4.15,0,0,0-.48-.63,1.07,1.07,0,0,0-.44-.27,1.55,1.55,0,0,0-.74-.06,1.69,1.69,0,0,0-.68.26,1.21,1.21,0,0,0-.58,1.1,2.93,2.93,0,0,0,.58,1.55,3.62,3.62,0,0,0,.61.75,2.29,2.29,0,0,0,.63.46,1.39,1.39,0,0,0,.65.14,1.24,1.24,0,0,0,.62-.21,2.09,2.09,0,0,0,.28-.24,1.33,1.33,0,0,0,.23-.3,1.58,1.58,0,0,0,.16-.35,1.53,1.53,0,0,0,.07-.36,1.74,1.74,0,0,0-.13-.55,4.74,4.74,0,0,0-.42-.74Z"/><path class="cls-2" d="M32,13.15a.59.59,0,0,1,0-.47.58.58,0,0,1,.32-.35.62.62,0,0,1,.48,0,.63.63,0,0,1,.35.33.59.59,0,0,1,0,.47.58.58,0,0,1-.32.35.62.62,0,0,1-.48,0A.58.58,0,0,1,32,13.15ZM35.5,18a4.26,4.26,0,0,0,.3.55.93.93,0,0,0,.28.28.53.53,0,0,0,.33,0,2,2,0,0,0,.46-.15L37,19l-2.6,1.22-.15-.31a3.11,3.11,0,0,0,.42-.27.59.59,0,0,0,.19-.29.72.72,0,0,0,0-.38,5.61,5.61,0,0,0-.22-.53l-.54-1.16-.42-.86a3.08,3.08,0,0,0-.27-.44.44.44,0,0,0-.34-.19,1.78,1.78,0,0,0-.65.21l-.15-.31,1.61-1.18Z"/><path class="cls-2" d="M41.53,16.57a2.44,2.44,0,0,1-.67.94,3,3,0,0,1-1.1.61A2.3,2.3,0,0,1,37.88,18a2.55,2.55,0,0,1-.74-.66,3.62,3.62,0,0,1-.51-1,3.27,3.27,0,0,1-.17-1.16,2.49,2.49,0,0,1,.27-1,2.38,2.38,0,0,1,.66-.8,3.09,3.09,0,0,1,1-.54,3.79,3.79,0,0,1,.69-.16,2.8,2.8,0,0,1,.58,0,1.09,1.09,0,0,1,.44.15.56.56,0,0,1,.23.3.4.4,0,0,1,0,.34.61.61,0,0,1-.31.21.48.48,0,0,1-.31,0,1.16,1.16,0,0,1-.4-.22,1.36,1.36,0,0,0-.47-.19,1.09,1.09,0,0,0-.48.06,1.21,1.21,0,0,0-.85.86,2.93,2.93,0,0,0,.16,1.65,3.09,3.09,0,0,0,.93,1.53,1.33,1.33,0,0,0,1.31.2,2,2,0,0,0,.7-.4,2.58,2.58,0,0,0,.54-.74Z"/><path class="cls-2" d="M44.72,13.41,44.65,13c-.13-.8-.54-1.14-1.22-1a1.42,1.42,0,0,0-.28.07.44.44,0,0,0-.18.14.51.51,0,0,0-.12.22c0,.09-.05.2-.07.33a1,1,0,0,1-.15.42.44.44,0,0,1-.28.14.45.45,0,0,1-.58-.41.82.82,0,0,1,.39-.82,3.15,3.15,0,0,1,1.38-.5,2.32,2.32,0,0,1,1.46.12,1.5,1.5,0,0,1,.61,1.13L46,15q.2,1.13.63,1.05a1,1,0,0,0,.26-.08.35.35,0,0,0,.19-.22l.18.22a1,1,0,0,1-.37.45,1.7,1.7,0,0,1-.64.26.76.76,0,0,1-.69-.17,1.25,1.25,0,0,1-.34-.75h0a1.91,1.91,0,0,1-.59.88,1.86,1.86,0,0,1-1,.45,1.4,1.4,0,0,1-1-.16,1.08,1.08,0,0,1-.49-.79,1.24,1.24,0,0,1,0-.47,1.27,1.27,0,0,1,.2-.45,2.62,2.62,0,0,1,.43-.47,5.37,5.37,0,0,1,.69-.52Zm.07.42c-.35.21-.65.4-.89.58a3.51,3.51,0,0,0-.55.52,1.39,1.39,0,0,0-.28.47,1,1,0,0,0,0,.44.76.76,0,0,0,.3.5.83.83,0,0,0,.61.11,1,1,0,0,0,.46-.2,1.4,1.4,0,0,0,.33-.42,1.59,1.59,0,0,0,.18-.57,2.36,2.36,0,0,0,0-.65Z"/><path class="cls-2" d="M49.09,14.88c0,.25,0,.45,0,.6a.8.8,0,0,0,.14.36.53.53,0,0,0,.28.17,2,2,0,0,0,.47,0v.35l-2.76.11v-.35a2.29,2.29,0,0,0,.48-.09.59.59,0,0,0,.27-.18.69.69,0,0,0,.13-.34,3.42,3.42,0,0,0,0-.57L48,10.67c0-.35,0-.66-.05-.9a3.94,3.94,0,0,0-.06-.49.41.41,0,0,0-.25-.3A1.87,1.87,0,0,0,47,8.92V8.58l1.88-.44Z"/><path class="cls-2" d="M53.8,14.18l.36.06a2.57,2.57,0,0,0,.11.85,2.12,2.12,0,0,0,1,1.19,2.53,2.53,0,0,0,.8.28,1.77,1.77,0,0,0,1.21-.14,1.14,1.14,0,0,0,.59-.85,1.24,1.24,0,0,0,0-.47,1.14,1.14,0,0,0-.21-.45,2.51,2.51,0,0,0-.46-.48,7.39,7.39,0,0,0-.75-.55,7.46,7.46,0,0,1-.93-.7,2.71,2.71,0,0,1-.57-.63,1.84,1.84,0,0,1-.25-.63,2.39,2.39,0,0,1,0-.7,2.22,2.22,0,0,1,.32-.81,2,2,0,0,1,.58-.58,2.07,2.07,0,0,1,.77-.3,2.58,2.58,0,0,1,.92,0,2.42,2.42,0,0,1,.78.29,3,3,0,0,1,.68.58l.33-.4.23,0-.25,2-.36-.06a2.56,2.56,0,0,0-.47-1.33,1.59,1.59,0,0,0-1-.59,1.51,1.51,0,0,0-1,.12,1,1,0,0,0-.5.74,1.09,1.09,0,0,0,0,.44,1.15,1.15,0,0,0,.19.41,3,3,0,0,0,.4.43,5.59,5.59,0,0,0,.64.48,13,13,0,0,1,1.1.83,3.9,3.9,0,0,1,.67.7,1.59,1.59,0,0,1,.29.66,1.93,1.93,0,0,1,0,.72,2.11,2.11,0,0,1-.36.87,2.33,2.33,0,0,1-.68.61,2.82,2.82,0,0,1-.93.3,3.48,3.48,0,0,1-1.11,0,3,3,0,0,1-1-.35,3.17,3.17,0,0,1-.82-.69l-.36.43-.23,0Z"/><path class="cls-2" d="M64.06,18.42a2.61,2.61,0,0,1-2.33.24,2.83,2.83,0,0,1-.94-.56,2.38,2.38,0,0,1-.58-.8,2.3,2.3,0,0,1-.21-1,3.08,3.08,0,0,1,.2-1.09,3,3,0,0,1,.58-1,2.36,2.36,0,0,1,.84-.64,2.64,2.64,0,0,1,1-.25,2.89,2.89,0,0,1,1.11.19,2,2,0,0,1,1.23,1,2,2,0,0,1,0,1.59c0,.09-.07.14-.11.14a.5.5,0,0,1-.25-.06L61.5,15.09a1.94,1.94,0,0,0-.1.17l-.09.23a3.08,3.08,0,0,0-.21.94,2.29,2.29,0,0,0,.08.8,1.67,1.67,0,0,0,.37.63,1.6,1.6,0,0,0,.62.41,1.82,1.82,0,0,0,.8.09,2.68,2.68,0,0,0,.9-.31Zm-.61-3.11.3.11a.45.45,0,0,0,.19,0,.14.14,0,0,0,.1,0,.32.32,0,0,0,.07-.13.94.94,0,0,0,0-.79,1.17,1.17,0,0,0-.66-.54,1.34,1.34,0,0,0-1.71.75Z"/><path class="cls-2" d="M66.7,19.08a6.17,6.17,0,0,0-.29.58.71.71,0,0,0-.09.37.42.42,0,0,0,.14.26l.36.27-.16.31-2.34-1.28.17-.31a2.33,2.33,0,0,0,.43.17.46.46,0,0,0,.31,0,.73.73,0,0,0,.27-.24c.08-.13.19-.3.31-.52l.56-1c.22-.4.39-.71.5-.94a1.56,1.56,0,0,0,.18-.53.34.34,0,0,0-.13-.32,2.19,2.19,0,0,0-.42-.27l.17-.31,1.72.51-.48,1.16h0a2.33,2.33,0,0,1,.55-.32,2.47,2.47,0,0,1,.57-.17,2.11,2.11,0,0,1,.56,0,1.41,1.41,0,0,1,.49.16.75.75,0,0,1,.37.38.48.48,0,0,1,0,.45.47.47,0,0,1-.31.26.62.62,0,0,1-.44-.09.8.8,0,0,1-.22-.17l-.13-.17-.1-.15a.43.43,0,0,0-.12-.11.73.73,0,0,0-.64,0,2.66,2.66,0,0,0-.79.57,4.77,4.77,0,0,0-.43.51,5.93,5.93,0,0,0-.4.65Z"/><path class="cls-2" d="M71.28,18.93a4.37,4.37,0,0,0,.12-.51,1,1,0,0,0,0-.34.56.56,0,0,0-.13-.24L71,17.62l.21-.28L73.35,19l-.21.28L72.86,19a.6.6,0,0,0-.19-.08.17.17,0,0,0-.14,0,.54.54,0,0,0-.14.13,1.08,1.08,0,0,0-.15.28c0,.1-.08.2-.11.3l-.92,2.94,0,0,2-1.16A5.88,5.88,0,0,0,74,21a2.06,2.06,0,0,0,.4-.36.36.36,0,0,0,.09-.32,1.05,1.05,0,0,0-.36-.38l.21-.28,1.58,1.21-.22.28a.46.46,0,0,0-.27-.11,1.06,1.06,0,0,0-.31,0,1.59,1.59,0,0,0-.31.14l-.37.2a3.13,3.13,0,0,0-.36.22l-.3.17-3.23,1.8-.46-.36Z"/><path class="cls-2" d="M75.31,25.62a3.18,3.18,0,0,0-.42.46,1,1,0,0,0-.17.36.57.57,0,0,0,.07.33,2.4,2.4,0,0,0,.29.38l-.24.25-2-2,.25-.24a3.45,3.45,0,0,0,.39.3.63.63,0,0,0,.34.08.71.71,0,0,0,.34-.15,4.16,4.16,0,0,0,.44-.38l.9-.9c.28-.28.5-.5.67-.69a2.43,2.43,0,0,0,.33-.4.44.44,0,0,0,.06-.38,2,2,0,0,0-.42-.55l.25-.24L78,22.93Zm3.32-4.94a.62.62,0,0,1,.44-.18.6.6,0,0,1,.44.18.58.58,0,0,1,.18.44.62.62,0,0,1-1.06.44.62.62,0,0,1-.18-.44A.6.6,0,0,1,78.63,20.68Z"/><path class="cls-2" d="M78.63,30.84a2.47,2.47,0,0,1-1.11-.32,3.18,3.18,0,0,1-.94-.82,2.22,2.22,0,0,1-.44-.9,2.29,2.29,0,0,1,0-.94,2.56,2.56,0,0,1,.38-.91,3.5,3.5,0,0,1,1.81-1.37,2.65,2.65,0,0,1,1-.09,2.43,2.43,0,0,1,1,.36,3.4,3.4,0,0,1,.85.77,3.77,3.77,0,0,1,.38.61,2.31,2.31,0,0,1,.2.55,1.18,1.18,0,0,1,0,.46.63.63,0,0,1-.2.32.38.38,0,0,1-.33.08.54.54,0,0,1-.31-.21.6.6,0,0,1-.12-.29,1.4,1.4,0,0,1,.08-.45,1.45,1.45,0,0,0,0-.5,1.13,1.13,0,0,0-.22-.44,1.21,1.21,0,0,0-1.09-.51,3,3,0,0,0-1.51.7,3.14,3.14,0,0,0-1.13,1.39,1.34,1.34,0,0,0,.26,1.3,1.93,1.93,0,0,0,.61.53,2.86,2.86,0,0,0,.88.26Z"/><path class="cls-2" d="M81.35,35.5a2.62,2.62,0,0,1-1.91-1.36,2.78,2.78,0,0,1-.34-1,2.36,2.36,0,0,1,.09-1,2.54,2.54,0,0,1,.48-.88,3.46,3.46,0,0,1,.88-.69,3.13,3.13,0,0,1,1.08-.36,2.51,2.51,0,0,1,1.06.07,2.62,2.62,0,0,1,.92.48,3.1,3.1,0,0,1,.72.87,2.07,2.07,0,0,1,.25,1.57,2,2,0,0,1-1.07,1.19c-.08,0-.13.05-.17,0a.5.5,0,0,1-.15-.21L81.61,31.3l-.18.07-.23.11a3.58,3.58,0,0,0-.77.57,2,2,0,0,0-.46.66,1.61,1.61,0,0,0-.14.71,1.56,1.56,0,0,0,.2.72,1.72,1.72,0,0,0,.54.6,2.48,2.48,0,0,0,.88.35Zm1.58-2.74c.07.12.12.21.17.28a.38.38,0,0,0,.12.13.11.11,0,0,0,.11,0,.3.3,0,0,0,.14-.05.94.94,0,0,0,.5-.61,1.13,1.13,0,0,0-.14-.84,1.35,1.35,0,0,0-1.78-.56Z"/><path class="cls-2" d="M52.42,41.63a4.23,4.23,0,0,0-.67-2.57,2.21,2.21,0,0,0-1.89-.91,3.74,3.74,0,0,1-.67.26,2.94,2.94,0,0,1-.67.1,1.05,1.05,0,0,1-.66-.19.59.59,0,0,1-.26-.49.45.45,0,0,1,.24-.42,1.19,1.19,0,0,1,.64-.14,3.37,3.37,0,0,1,.59.06,4.15,4.15,0,0,1,.63.16,2,2,0,0,0,1.73-1A4.54,4.54,0,0,0,52.08,34c0-1.87-.79-2.8-2.36-2.8a2.63,2.63,0,0,0-1.67.48A1.58,1.58,0,0,0,47.44,33a1.52,1.52,0,0,0,.4,1.1,1.37,1.37,0,0,0,1,.42,1,1,0,0,1-.49.55,1.88,1.88,0,0,1-.91.21,2,2,0,0,1-.81-.16,2,2,0,0,1-.64-.45A2.33,2.33,0,0,1,45.6,34a2.13,2.13,0,0,1-.16-.84A2.17,2.17,0,0,1,45.75,32a2.73,2.73,0,0,1,.87-.89A4.16,4.16,0,0,1,48,30.51a6.84,6.84,0,0,1,1.75-.2,6.69,6.69,0,0,1,2,.26,4.55,4.55,0,0,1,1.5.72,3.23,3.23,0,0,1,1,1.12,3.08,3.08,0,0,1,.34,1.46,3.43,3.43,0,0,1-.24,1.28,4.11,4.11,0,0,1-.64,1.09,4,4,0,0,1-1,.83,4.64,4.64,0,0,1-1.17.5v.12a5.25,5.25,0,0,1,1.38.58,4.42,4.42,0,0,1,1.1.9,3.74,3.74,0,0,1,.72,1.18,3.9,3.9,0,0,1,.26,1.42,3.76,3.76,0,0,1-.4,1.73,4.38,4.38,0,0,1-1.1,1.37,5.36,5.36,0,0,1-1.67.91,6.61,6.61,0,0,1-2.13.33,6.44,6.44,0,0,1-1.91-.27,5.19,5.19,0,0,1-1.51-.74,3.53,3.53,0,0,1-1-1.12,2.9,2.9,0,0,1-.36-1.41,2.7,2.7,0,0,1,.18-1,2.54,2.54,0,0,1,.49-.81,2,2,0,0,1,.73-.54,2.11,2.11,0,0,1,.9-.19,2,2,0,0,1,1,.25,1.08,1.08,0,0,1,.54.63,1.55,1.55,0,0,0-1.24.55A2,2,0,0,0,47,42.87a2.12,2.12,0,0,0,.72,1.66,2.78,2.78,0,0,0,1.9.64,2.54,2.54,0,0,0,2.1-.91A4.18,4.18,0,0,0,52.42,41.63Z"/></svg>
            p(class="medical-service-tab__title") アンチエンジング
        ul(class="slick03 medical-service__li")
          li(class="medical-service__item medical-service__item--rheumatoid")
            div(class="medical-service__head")
              p(class="medical-service__number") Medical Service
              h3(class="medical-service__title") リウマチ科
            div(class="medical-service__body")
              div(class="medical-service__image--wrapper")
                img(src="../images/service_img_01.jpg" alt="リウマチの寛解の定義" class="medical-service__image" width="308" height="auto")
              div(class="medical-service__description")
                div(class="medical-service__texts")
                  p 関節リウマチは、30代～50代で発症することが多い病気です。患者さんは女性の比率が高く、早期発見で治療を始めることが大切。<br>現在では良い薬があり、多くの方を「寛解」という痛みのない状態へ導くことが可能です。もしかして、と思われた時に受診してみることをおすすめします。
                a(href="#" class="button-arrow button-arrow--red") 詳しく見る
          li(class="medical-service__item medical-service__item--internal")
            div(class="medical-service__head")
              p(class="medical-service__number") Medical Service
              h3(class="medical-service__title") 内科
            div(class="medical-service__body")
              div(class="medical-service__image--wrapper")
                img(src="../images/service_img_02.jpg" alt="" class="medical-service__image medical-service__image--round" width="240" height="auto")
              div(class="medical-service__description")
                div(class="medical-service__texts")
                  p 風邪やインフルエンザ、痛風、血圧が高いなど、なんでもお気軽にご相談下さい。仕事の休憩の時間に定期薬の継続で通院したい、出勤前に病院の風邪薬が欲しい。そんな時にも時間が読める内科診療を目指します。
                a(href="#" class="button-arrow button-arrow--blue") 詳しく見る
          li(class="medical-service__item medical-service__item--aging")
            div(class="medical-service__head")
              p(class="medical-service__number") Medical Service
              h3(class="medical-service__title") アンチエイジング
            div(class="medical-service__body")
              div(class="medical-service__image--wrapper")
                img(src="../images/service_img_03.jpg" alt="" class="medical-service__image medical-service__image--round" width="308" height="auto")
              div(class="medical-service__description")
                div(class="medical-service__texts")
                  p プラセンタ、ニンニク注射などを取り扱っております。健やかに美しく、リウマチと生きる女性のトータルサポートを目指します。もちろん、アンチエイジングのみの方も大歓迎です。尚、アンチエイジングは自費診療となります。※お支払いには現金のほか、各種クレジットカード(VISA/ MasterCard/ /Diners/ AMEX/ JCB)もご利用いただけます。
                a(href="#" class="button-arrow button-arrow--orange") 詳しく見る

        ul(class="service-post")
          li(class="service-post__item")
            a(href="" class="service-post__link category--aging")
              span(class="service-post__thumbnail" style="background-image: url('../images/4e5623daafd5f233f41c91645a8ec0a4-500x300.jpg')")
              time(datetime="2021-04-14" class="service-post__time") 2021.04.14
              ul(class="service-post__service service-list")
                li(class="service-list__item") リウマチ科
                li(class="service-list__item") アンチエイジング
              h3(class="service-post__title") 「関節リウマチ除外後の関節痛に対するアグリコン型イソフラボン (へバスター) の効果の検討」日本リウマチ学会（2021）で院長が発表
              p(class="service-post__excerpt") 院長が2021年4/26に行われる第65回日本…

          li(class="service-post__item")
            a(href="" class="service-post__link category--rheumatoid")
              span(class="service-post__thumbnail" style="background-image: url('../images/7dd4c3f74f006b34bb1d70d7adebd54e-500x300.jpg')")
              time(datetime="2021-01-05" class="service-post__time") 2021.01.05
              ul(class="service-post__service service-list")
                li(class="service-list__item") リウマチ科
              h3(class="service-post__title") 関節リウマチと更年期関節痛の鑑別と対策　情報誌に院長の記事が掲載
              p(class="service-post__excerpt") 情報誌　調剤と情報（2021年1月1日発行）に、院長の記事が…

          li(class="service-post__item")
            a(href="" class="service-post__link category--aging")
              span(class="service-post__thumbnail" style="background-image: url('../images/85d50a5d6f17e17653ecdd60c1e63fc2-scaled-e1597046043749-500x300.jpg')")
              time(datetime="2021-04-14" class="service-post__time") 2020.08.10
              ul(class="service-post__service service-list")
                li(class="service-list__item") リウマチ科
                li(class="service-list__item") アンチエイジング
              h3(class="service-post__title") 「更年期関節痛に対するエクオールの効果」日本リウマチ学会（2020）で院長が発表
              p(class="service-post__excerpt") 院長が日本リウマチ学会に下記内容で発表いたします。本来4月に…

          li(class="service-post__item")
            a(href="" class="service-post__link category--aging")
              span(class="service-post__thumbnail" style="background-image: url('../images/aging.jpg')")
              time(datetime="2021-04-14" class="service-post__time") 2021.04.14
              ul(class="service-post__service service-list")
                li(class="service-list__item") リウマチ科
                li(class="service-list__item") アンチエイジング
              h3(class="service-post__title") メニュー表
              p(class="service-post__excerpt")

          li(class="service-post__item")
            a(href="" class="service-post__link category--rheumatoid")
              span(class="service-post__thumbnail" style="background-image: url('../images/IMG_3665-500x300.jpg')")
              time(datetime="2021-04-14" class="service-post__time") 2021.04.14
              ul(class="service-post__service service-list")
                li(class="service-list__item") リウマチ科
                li(class="service-list__item") アンチエイジング
              h3(class="service-post__title") 「飲み薬」のリウマチ新薬、日本発のJAK阻害剤スマイラフの特徴
              p(class="service-post__excerpt")

          li(class="service-post__item")
            a(href="" class="service-post__link category--aging")
              span(class="service-post__thumbnail" style="background-image: url('../images/IMG_4091-500x300.jpg')")
              time(datetime="2021-04-14" class="service-post__time") 2021.04.14
              ul(class="service-post__service service-list")
                li(class="service-list__item") リウマチ科
                li(class="service-list__item") アンチエイジング
              h3(class="service-post__title") リウマチではない、のその先に。 へバスター HEBER STAR
              p(class="service-post__excerpt")

          li(class="service-post__item")
            a(href="" class="service-post__link category--rheumatoid")
              span(class="service-post__thumbnail" style="background-image: url('../images/IMG_7215-e1573774840993-500x300.jpg')")
              time(datetime="2021-04-14" class="service-post__time") 2021.04.14
              ul(class="service-post__service service-list")
                li(class="service-list__item") リウマチ科
                li(class="service-list__item") アンチエイジング
              h3(class="service-post__title") リウマチと日常生活について　(財界さっぽろ リウマチコラム最終回)
              p(class="service-post__excerpt")

          li(class="service-post__item")
            a(href="" class="service-post__link category--rheumatoid")
              span(class="service-post__thumbnail" style="background-image: url('../images/7dd4c3f74f006b34bb1d70d7adebd54e-500x300.png')")
              time(datetime="2021-04-14" class="service-post__time") 2021.04.14
              ul(class="service-post__service service-list")
                li(class="service-list__item") リウマチ科
                li(class="service-list__item") アンチエイジング
              h3(class="service-post__title") 2019/12/14　更年期関節痛セミナー開催
              p(class="service-post__excerpt")

          li(class="service-post__item")
            a(href="" class="service-post__link category--rheumatoid")
              span(class="service-post__thumbnail" style="background-image: url('../images/IMG_7180-500x300.jpg')")
              time(datetime="2021-04-14" class="service-post__time") 2021.04.14
              ul(class="service-post__service service-list")
                li(class="service-list__item") リウマチ科
                li(class="service-list__item") アンチエイジング
              h3(class="service-post__title") リウマチの治療について　(財界さっぽろ リウマチコラム第５回)
              p(class="service-post__excerpt")

          li(class="service-post__item")
            a(href="" class="service-post__link category--rheumatoid")
              span(class="service-post__thumbnail" style="background-image: url('../images/IMG_7122-e1568362972324-500x300.jpg')")
              time(datetime="2021-04-14" class="service-post__time") 2021.04.14
              ul(class="service-post__service service-list")
                li(class="service-list__item") リウマチ科
                li(class="service-list__item") アンチエイジング
              h3(class="service-post__title") リウマチが難病である理由　(財界さっぽろ リウマチコラム第４回)
              p(class="service-post__excerpt")

          li(class="service-post__item")
            a(href="" class="service-post__link category--rheumatoid")
              span(class="service-post__thumbnail" style="background-image: url('../images/6e3061f9b6b26b11f36621beb38b51c4-500x300.jpg')")
              time(datetime="2021-04-14" class="service-post__time") 2021.04.14
              ul(class="service-post__service service-list")
                li(class="service-list__item") リウマチ科
                li(class="service-list__item") アンチエイジング
              h3(class="service-post__title") 2019/10/5　リウマチ市民講座開催
              p(class="service-post__excerpt")

          li(class="service-post__item")
            a(href="" class="service-post__link category--rheumatoid")
              span(class="service-post__thumbnail" style="background-image: url('../images/990709EC-A1AC-4F98-B3C4-12DA545A0664-e1565762408908-500x300.jpg')")
              time(datetime="2021-04-14" class="service-post__time") 2021.04.14
              ul(class="service-post__service service-list")
                li(class="service-list__item") リウマチ科
                li(class="service-list__item") アンチエイジング
              h3(class="service-post__title") あなたはリウマチではない　(財界さっぽろ リウマチコラム第３回)
              p(class="service-post__excerpt")

          li(class="service-post__item")
            a(href="" class="service-post__link category--rheumatoid")
              span(class="service-post__thumbnail" style="background-image: url('../images/dc0994aa37d922da95f69305c3f700d9-e1565333864327-500x300.jpg')")
              time(datetime="2021-04-14" class="service-post__time") 2021.04.14
              ul(class="service-post__service service-list")
                li(class="service-list__item") リウマチ科
                li(class="service-list__item") アンチエイジング
              h3(class="service-post__title") リウマチのイロハ　ontona オントナ (北海道新聞)
              p(class="service-post__excerpt")
        a(href="#" class="button-arrow button-arrow--red button-arrow--w200 mt60") もっと見る


    section(class="home-doctor on-scroll-add-class")
      div(class="parallax parallax--doctor")
      div(class="inner-wrapper inner-wrapper--bg-white")
        h2(class="content-head content-head--bg-white")
          span(class="content-head__jp")
            span(class="content-head__char") 医
            span(class="content-head__char") 師
            span(class="content-head__char") 紹
            span(class="content-head__char") 介
          span(class="content-head__en") Doctor
        div(class="doctor-profile")
          div(class="doctor-name--wrapper")
            div(class="doctor-name--inner on-scroll-add-class")
              div(class="doctor-profile__photo--wrapper")
                img(src="../images/doctor_img_01.jpg" alt="山田 一郎" width="1110" height="auto" class="doctor-profile__photo")
                h3(class="doctor-name") 山田 一郎
                  span(class="doctor-name__ruby") Ichiro <br class="sp-only">Yamada
              section(class="doctor-career doctor-career--fadein")
                h4(class="doctor-career__title") ［専門医資格］
                ul(class="doctor-career__li")
                  li(class="doctor-career__item") 医学博士
                  li(class="doctor-career__item") 日本リウマチ学会専門医・指導医・評議員
                  li(class="doctor-career__item") 日本臨床免疫学会評議員
                  li(class="doctor-career__item") 日本臨床免疫学会免疫療法認定医
          button(class="doctor-career__more sp-only accordion-trigger") 詳しく見る
          div(class="doctor-career--wrapper accordion-target")
            section(class="doctor-career doctor-career--keireki")
              h4(class="doctor-career__title") ［経歴］
              ul(class="doctor-career__li")
                li(class="doctor-career__item")
                  span(class="doctor-career__year") 平成4年
                  span(class="doctor-career__description") 北海道釧路湖陵高校 理数科 卒業
                li(class="doctor-career__item")
                  span(class="doctor-career__year") 平成10年
                  span(class="doctor-career__description") 産業医科大学医学部　卒業
                li(class="doctor-career__item")
                  span(class="doctor-career__year") 平成19年
                  span(class="doctor-career__description") 産業医科大学第一内科学　助教
                li(class="doctor-career__item")
                  span(class="doctor-career__year") 平成21年
                  span(class="doctor-career__description") 米国ペンシルベニア大学医学部留学
                li(class="doctor-career__item")
                  span(class="doctor-career__year") 平成24年
                  span(class="doctor-career__description") 産業医科大学若松病院<br>リウマチ・糖尿病内科診療科長
                li(class="doctor-career__item")
                  span(class="doctor-career__year") 平成27年
                  span(class="doctor-career__description") 産業医科大学第一内科学外来医長<br>学内講師
                li(class="doctor-career__item")
                  span(class="doctor-career__year") 平成28年
                  span(class="doctor-career__description") 北海道大学内科Ⅱ　特任講師
                li(class="doctor-career__item")
                  span(class="doctor-career__year") 平成28年
                  span(class="doctor-career__description") 北海道内科リウマチ科病院<br>リウマチ膠原病センタ―長<br>北海道大学病院内科Ⅱ 客員臨床講師
                li(class="doctor-career__item")
                  span(class="doctor-career__year") 平成31年
                  span(class="doctor-career__description") 札幌大通リウマチ内科　院長
            section(class="doctor-career doctor-career--paper")
              h4(class="doctor-career__title") ［主要論文］
              ul
                li Sawamukai N, et al., Cell-autonomous role of TGFβ and IL-2 receptors in CD4+ and CD8+ inducible regulatory T-cell generation during GVHD.<br>Blood. 2012.
                li Sawamukai N, et al., Mast cell-derived tryptase inhibits apoptosis of human rheumatoid synovial fibroblasts via rho-mediated signaling.<br>Arthritis Rheum. 2010.
                li Sawamukai N, et al., J Immunol. 2007.
                li 上記の筆頭著者論文他、共著者、国内・国際学会発表多数

    section(class="home-staff on-scroll-add-class")
      div(class="pattern-bg")
        div(class="pattern-bg__pattern")
        div(class="pattern-bg__white pattern-bg__white--left")
        div(class="pattern-bg__white pattern-bg__white--right")
      div(class="inner-wrapper inner-wrapper--staff")
        h2(class="content-head content-head--mb")
          span(class="content-head__jp")
            span(class="content-head__char") ス
            span(class="content-head__char") タ
            span(class="content-head__char") ッ
            span(class="content-head__char") フ
            span(class="content-head__char") 紹
            span(class="content-head__char") 介
          span(class="content-head__en") Staff
        ul(class="slick04 staff-introduction__li")
          li(class="staff-introduction__item staff-introduction__item--concierge")
            dl(class="staff-introduction__dl")
              dt(class="staff-introduction__dt") 医療コンシェルジュ
              dd(class="staff-introduction__dd")
                p(class="") Comment
                p(class="staff-introduction__comment-body") 少しでも患者様の心や体が安らげるよう、温かみのある対応を心掛けております。一人一人の患者様と個室で接することにより、安心感や信頼感を感じていただけたら幸いです。痛み、悩み、心配事など、何でもお気軽にご相談ください。患者様のお気持ちに寄り添い、より良い医療を提供できるようサポートしていきたいと思っております。
          li(class="staff-introduction__item staff-introduction__item--nurse")
            dl(class="staff-introduction__dl")
              dt(class="staff-introduction__dt") 看護師
              dd(class="staff-introduction__dd")
                p(class="staff-introduction__comment") Comment
                p(class="staff-introduction__comment-body") リウマチケア看護師（日本リウマチ財団）を取得しております。長年、基幹病院の内科外来で勤務し、リウマチ膠原病の患者さんの薬剤説明や、自己注射指導などリウマチケア看護師として働いておりました。<br>丁寧でわかりやすい対応を心掛け、患者さんに寄りそった看護を提供して参りたいと思います。
        section(class="staff-blog")
          div(class="staff-blog__head")
            h3(class="content-head content-head--align-left content-head--staff-blog")
              span(class="content-head__jp")
                span(class="content-head__char") ス
                span(class="content-head__char") タ
                span(class="content-head__char") ッ
                span(class="content-head__char") フ
                span(class="content-head__char") ブ
                span(class="content-head__char") ロ
                span(class="content-head__char") グ
            div(class="staff-blog__buttons")
              a(href="#" class="staff-blog__button button-arrow button-arrow--red") 一覧はこちら
              a(href="#" class="staff-blog__button button-arrow button-arrow--blue") 採用情報
          div(class="staff-blog__body")
            ul(class="post-list staff-blog__posts")
              li(class="post-list__post")
                a(href="#" class="post-list__link")
                  time(class="post-list__date" datetime="2022-07-06") 2022.07.06
                  p(class="post-list__content") 夏がくる～♪
              li(class="post-list__post")
                a(href="#" class="post-list__link")
                  time(class="post-list__date" datetime="2022-07-06") 2022.06.29
                  p(class="post-list__content") 関節リウマチ患者さんの妊娠・出産について
              li(class="post-list__post")
                a(href="#" class="post-list__link")
                  time(class="post-list__date" datetime="2022-07-06") 2022.07.06
                  p(class="post-list__content") アジサイの季節

    section(class="home-hospital-referral on-scroll-add-class")
      div(class="parallax parallax--hospital-referral")
      div(class="inner-wrapper inner-wrapper--bg-white")
        h2(class="content-head content-head--bg-white")
          span(class="content-head__jp")
            span(class="content-head__char") 院
            span(class="content-head__char") 内
            span(class="content-head__char") 紹
            span(class="content-head__char") 介
          span(class="content-head__en") Hospital Referral
        p(class="text--lead home-hospital-referral__lead") 虹をコンセプトに、7色の診察室を北欧風の内装に整えました。診察室ですぐ受けられる超音波検査や、レントゲン、快適な点滴リクライニングソファーなどの設備も揃っています。
        ul(class="referral-list")
          li(class="referral-list__li")
            a(href="#" class="referral-list__link")
              dl(class="referral-list__dl")
                dt(class="referral-list__dt")
                  figure(class="referral-list__figure")
                    img(src="../images/hospital_thumb_01.jpg" alt="外観" width="233" height="233" class="referral-list__image")
                    figcaption(class="referral-list__figcaption") 外観
                dd(class="referral-list__dd") 札幌三越の隣、1階にマツモトキヨシが入っているビルの5階です。
          li(class="referral-list__li")
            a(href="#" class="referral-list__link")
              dl(class="referral-list__dl")
                dt(class="referral-list__dt")
                  figure(class="referral-list__figure")
                    img(src="../images/hospital_thumb_02.jpg" alt="エントランス" width="233" height="233" class="referral-list__image")
                    figcaption(class="referral-list__figcaption") エントランス
                dd(class="referral-list__dd") エレベーターで5階へ上がっていただくとそのままエントランスになっております。
          li(class="referral-list__li")
            a(href="#" class="referral-list__link")
              dl(class="referral-list__dl")
                dt(class="referral-list__dt")
                  figure(class="referral-list__figure")
                    img(src="../images/hospital_thumb_03.jpg" alt="受付" width="233" height="233" class="referral-list__image")
                    figcaption(class="referral-list__figcaption") 受付
                dd(class="referral-list__dd") 受付にてご案内いたします。コンシェルジュにお声がけください。
          li(class="referral-list__li")
            a(href="#" class="referral-list__link")
              dl(class="referral-list__dl")
                dt(class="referral-list__dt")
                  figure(class="referral-list__figure")
                    img(src="../images/hospital_thumb_04.jpg" alt="通路" width="233" height="233" class="referral-list__image")
                    figcaption(class="referral-list__figcaption") 通路
                dd(class="referral-list__dd") 個室の診察室が7つ並んでおりますので、指定の個室にお入りください。
          li(class="referral-list__li")
            a(href="#" class="referral-list__link")
              dl(class="referral-list__dl")
                dt(class="referral-list__dt")
                  figure(class="referral-list__figure")
                    img(src="../images/hospital_thumb_05.jpg" alt="診察室" width="233" height="233" class="referral-list__image")
                    figcaption(class="referral-list__figcaption") 診察室
                dd(class="referral-list__dd") 虹の7色それそれに彩られた個室での診察となります。
          li(class="referral-list__li")
            a(href="#" class="referral-list__link")
              dl(class="referral-list__dl")
                dt(class="referral-list__dt")
                  figure(class="referral-list__figure")
                    img(src="../images/hospital_thumb_06.jpg" alt="レントゲン" width="233" height="233" class="referral-list__image")
                    figcaption(class="referral-list__figcaption") レントゲン
                dd(class="referral-list__dd") レントゲン設備を備えております。
          li(class="referral-list__li")
            a(href="#" class="referral-list__link")
              dl(class="referral-list__dl")
                dt(class="referral-list__dt")
                  figure(class="referral-list__figure")
                    img(src="../images/hospital_thumb_07.jpg" alt="点滴室" width="233" height="233" class="referral-list__image")
                    figcaption(class="referral-list__figcaption") 点滴室
                dd(class="referral-list__dd") 点滴室にはリラックスできるリクライニングチェアをご用意しております。
          li(class="referral-list__li")
            a(href="#" class="referral-list__link")
              dl(class="referral-list__dl")
                dt(class="referral-list__dt")
                  figure(class="referral-list__figure")
                    img(src="../images/hospital_thumb_08.jpg" alt="院内サイン(アイコン)" width="233" height="233" class="referral-list__image")
                    figcaption(class="referral-list__figcaption") 院内サイン(アイコン)
                dd(class="referral-list__dd") 院内にはわかりやすく案内の表示がございます。

    section(class="home-clinic-map on-scroll-add-class")
      div(class="inner-wrapper")
        h2(class="content-head home-clinic-map__title")
          span(class="content-head__jp")
            span(class="content-head__char") 診
            span(class="content-head__char") 察
            span(class="content-head__char") 室
            span(class="content-head__char") マ
            span(class="content-head__char") ッ
            span(class="content-head__char") プ
          span(class="content-head__en") Clinic Map
        p(class="text--lead home-clinic-map__lead") 当院は虹の7色をコンセプトに、7つの診察室それぞれにイメージカラーが使われています。
        div(class="clinic-map")
          ol(class="slick05-tab clinic-map__map")
            li(class="clinic-map__room clinic-map__room--no1")
              img(src="../images/map_btn_01.svg" alt="Room1" class="clinic-map__image" width="30px" height="auto")
            li(class="clinic-map__room clinic-map__room--no2")
              img(src="../images/map_btn_02.svg" alt="Room2" class="clinic-map__image" width="30px" height="auto")
            li(class="clinic-map__room clinic-map__room--no3")
              img(src="../images/map_btn_03.svg" alt="Room3" class="clinic-map__image" width="30px" height="auto")
            li(class="clinic-map__room clinic-map__room--no4")
              img(src="../images/map_btn_04.svg" alt="Room4" class="clinic-map__image" width="30px" height="auto")
            li(class="clinic-map__room clinic-map__room--no5")
              img(src="../images/map_btn_05.svg" alt="Room5" class="clinic-map__image" width="30px" height="auto")
            li(class="clinic-map__room clinic-map__room--no6")
              img(src="../images/map_btn_06.svg" alt="Room6" class="clinic-map__image" width="30px" height="auto")
            li(class="clinic-map__room clinic-map__room--no7")
              img(src="../images/map_btn_07.svg" alt="Room7" class="clinic-map__image" width="30px" height="auto")
          div(class="clinic-photos--wrapper")
            ol(class="slick05 clinic-photos")
              li(class="clinic-photos__item clinic-photos__item--no1")
                p(class="clinic-photos__room-num")
                  span(class="clinic-photos__room") Room
                  span(class="clinic-photos__num") 1
                img(src="../images/map_img_01.jpg" alt="Room1" class="clinic-photos__image" width="532" height="auto")
              li(class="clinic-photos__item clinic-photos__item--no2")
                p(class="clinic-photos__room-num")
                  span(class="clinic-photos__room") Room
                  span(class="clinic-photos__num") 2
                img(src="../images/map_img_02.jpg" alt="Room2" class="clinic-photos__image" width="532" height="auto")
              li(class="clinic-photos__item clinic-photos__item--no3")
                p(class="clinic-photos__room-num")
                  span(class="clinic-photos__room") Room
                  span(class="clinic-photos__num") 3
                img(src="../images/map_img_03.jpg" alt="Room3" class="clinic-photos__image" width="532" height="auto")
              li(class="clinic-photos__item clinic-photos__item--no4")
                p(class="clinic-photos__room-num")
                  span(class="clinic-photos__room") Room
                  span(class="clinic-photos__num") 4
                img(src="../images/map_img_04.jpg" alt="Room4" class="clinic-photos__image" width="532" height="auto")
              li(class="clinic-photos__item clinic-photos__item--no5")
                p(class="clinic-photos__room-num")
                  span(class="clinic-photos__room") Room
                  span(class="clinic-photos__num") 5
                img(src="../images/map_img_05.jpg" alt="Room5" class="clinic-photos__image" width="532" height="auto")
              li(class="clinic-photos__item clinic-photos__item--no6")
                p(class="clinic-photos__room-num")
                  span(class="clinic-photos__room") Room
                  span(class="clinic-photos__num") 6
                img(src="../images/map_img_06.jpg" alt="Room6" class="clinic-photos__image" width="532" height="auto")
              li(class="clinic-photos__item clinic-photos__item--no7")
                p(class="clinic-photos__room-num")
                  span(class="clinic-photos__room") Room
                  span(class="clinic-photos__num") 7
                img(src="../images/map_img_07.jpg" alt="Room7" class="clinic-photos__image" width="532" height="auto")
            div(class="clinic-photos__comment")
              p イメージカラーにあわせ、壁紙やチェア、小物やカーテンまで色合いを揃えた快適な診察室をご用意しております。

    section(class="home-access on-scroll-add-class")
      div(class="pattern-bg")
        div(class="pattern-bg__pattern")
        div(class="pattern-bg__white pattern-bg__white--left")
        div(class="pattern-bg__white pattern-bg__white--right")
      div(class="inner-wrapper inner-wrapper--access")
        h2(class="content-head content-head--align-left content-head--mb")
          span(class="content-head__jp")
            span(class="content-head__char") ア
            span(class="content-head__char") ク
            span(class="content-head__char") セ
            span(class="content-head__char") ス
          span(class="content-head__en") Access
        div(class="home-access__guidance--wrapper")
          p(class="home-access__guidance") 札幌大通リウマチ内科は南一条通の札幌三越横、マツモトキヨシのビル5階にございます。場所が分からない時はお気軽にお電話ください。
        div(class="home-access__location access-info")
          p(class="access-info__post") 〒060-0061
          p(class="access-info__location") 札幌市中央区南1条⻄3丁⽬8<br>エムズ札幌ビル5階
          a(href="tel:000-0000-0000" class="access-info__tellink") TEL.
            span(class="access-info__telnum") 000-0000-0000
        dl(class="home-access__traffic traffic-info")
          dt(class="traffic-info__dt traffic-info__dt--subway") 地下鉄
          dd(class="traffic-info__dd") 南北線・東西線・東豊線 大通駅 17番出口 徒歩1分<br>東豊線からは大通駅 33番出口も便利です。徒歩2分
          dt(class="traffic-info__dt traffic-info__dt--car") お車
          dd(class="traffic-info__dd")
            p(class="") 駐車無料券(カモンチケット1時間分)を差し上げます。チケットが使える近隣駐車場をご利用下さい。大通公園の地下街と直結する、札幌大通地下駐車場（自走式366台、車いす対応、身障者対応エレベーター）が便利です。
            a(href="#" class="traffic-info__link" target="_blank") このマークの付いた駐車場をご利用ください。<br>↑詳しくはカモンチケットのマークをクリック
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2915.1467514343813!2d141.353761!3d43.059381!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7e06ddb4f6cd27ff!2z5pyt5bmM5aSn6YCa44Oq44Km44Oe44OB5YaF56eR!5e0!3m2!1sja!2sjp!4v1657818779557!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="home-access__googlemap"></iframe>

    section(class="home-reservation on-scroll-add-class" id="home-reservation")
      div(class="inner-wrapper")
        h2(class="content-head content-head--mb")
          span(class="content-head__jp")
            span(class="content-head__char") ご
            span(class="content-head__char") 予
            span(class="content-head__char") 約
          span(class="content-head__en") Reservation
        div(class="home-reservation--box")
          h3(class="home-reservation__title") リウマチ科
          div(class="home-reservation__dl--wrapper")
            dl(class="home-reservation__dl")
              dt(class="home-reservation__dt")
                a(href="#" class="button-arrow button-arrow--red") 初診の方
              dd(class="home-reservation__dd")
                h4(class="home-reservation__title--small") 初診の方へ
                p(class="home-reservation__text--small") 初診の方は、丁寧に状況を聞いたり、検査の計画、治療のご提案などの説明にお時間がかかります。お時間に余裕をもってお越し下さい。
            dl(class="home-reservation__dl")
              dt(class="home-reservation__dt")
                p(class="button-arrow button-arrow--red button-arrow--events-none") 再診をご希望の方
              dd(class="home-reservation__dd")
                p(class="") 現在当院では、再診のご予約をお電話にて承っております。<br>ご希望の方は、以下までお電話ください。
                a(href="tel:011-280-7777" class="home-reservation__tel") 011-280-7777
                p(class="") 月～金曜日 / 9:00-13:00 14:00-17:00<br>土日・祝祭日 / 休診
        div(class="home-reservation--box home-reservation--box--1column")
          h3(class="home-reservation__title") アンチエイジング
          div(class="home-reservation__dl")
            a(href="#top" class="button-arrow button-arrow--orange") 初診の方

