html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: $font-base;
  font-size: 1.4rem;
  line-height: 1.7;
  color: $color-font;
  padding: 50px 0 0;
}

.pc-tab-only {
  display: none;
}

.text--lead {
  text-align: center;
}

.button-arrow {
  font-size: 1.4rem;
  display: block;
  color: #fff;
  background-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  overflow: hidden;
  border-radius: 6px;
  padding: 8px 30px 8px 8px;
  transition: all .3s;
  box-sizing: border-box;
  text-align: center;
  line-height: 1.7;
  position: relative;

  &.button-arrow--red {
    background-color: rgba(218, 102, 105, 1);

    &:hover {
      background-color: rgba(218, 102, 105, .7);
    }
  }

  &.button-arrow--blue {
    background-color: rgba(116, 199, 209, 1);

    &:hover {
      background-color: rgba(116, 199, 209, .7);
    }
  }

  &.button-arrow--orange {
    background-color: rgba(226, 145, 90, 1);

    &:hover {
      background-color: rgba(226, 145, 90, .7);
    }
  }

  &::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    right: 10px;
    background: url('../images/ico_arrow02_wh.svg') center no-repeat;
    background-size: contain;
    border-radius: 50%;
    transform: translate(0, -50%);
    transition: all .3s;
  }

}

.button-arrow--events-none {
  pointer-events: none;

  &::before {
    display: none;
  }
}

.button-arrow--news {
  width: auto;
  float: right;
}

.button-arrow--w200 {
  width: 200px;
  margin: 0 auto;
}

.post-list__link {
  text-decoration: none;
  color: $color-font;
}

.post-list__post {
  margin-bottom: 20px;
  padding-bottom: 14px;
  border-bottom: 1px solid #c7c7c7;
}

.post-list__date {
  margin-right: 1em;
  display: block;
}

.post-list__content {
  display: block;
}

.inner-wrapper {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1190px;
  box-sizing: border-box;
}

.inner-wrapper--flow {
  position: relative;
  z-index: 1;
}

.inner-wrapper--staff {
  position: relative;
  z-index: 1;
}

.inner-wrapper--access {
  position: relative;
  z-index: 1;
}

.inner-wrapper--news {
  position: relative;
  z-index: 1;
}

.inner-wrapper--point {
  padding: 0 35px;
}

.inner-wrapper--bg-white {
  background-color: #fff;
  width: calc(100% - 40px);
  padding: 0;
}

.pattern-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: linear-gradient(130deg, rgba(194, 0, 0, 0.1) 0%, rgba(255, 156, 0, 0.1) 28%, rgba(255, 236, 0, 0.1) 42%, rgba(41, 197, 0, 0.1) 60%, rgba(20, 97, 181, 0.1) 75%, rgba(165, 41, 196, 0.1) 100%);
  overflow: hidden;
}

.pattern-bg__pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/pattern_01.png');
  background-size: 45px;
}

.pattern-bg__white {
  position: absolute;
  height: 100%;
  width: 60%;
  transition: 1s cubic-bezier(0.61, 0.01, 0.43, 0.99);
}

.pattern-bg__white--left {
  left: 0%;
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, white 10%);
}

.pattern-bg__white--right {
  right: 0%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white 10%);
}

.on {
  .pattern-bg__white--left {
    transform: translateX(-100%);
  }

  .pattern-bg__white--right {
    transform: translateX(100%);
  }
}

.content-head.content-head--align-left {
  .content-head__jp {
    text-align: left;
    letter-spacing: 0.2em;
  }

  .content-head__en {
    text-align: left;
  }
}

.content-head__char {
  display: inline-block;
  opacity: 0;
  transition: 1.0s;

  &:nth-child(4n + 1) {
    transform: translate(20px, -17px);
  }

  &:nth-child(4n + 2) {
    transform: translate(-17px, -15px);
  }

  &:nth-child(4n + 3) {
    transform: translate(17px, -12px);
  }

  &:nth-child(4n + 4) {
    transform: translate(15px, -20px);
  }

  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      transition-delay: calc(0.1s * #{$i});
    }
  }
}

.content-head__jp {
  font-size: 1.96rem;
  display: block;
  text-align: center;
  letter-spacing: 0.2em;
}

.content-head__en {
  color: $color-accent;
  display: block;
  text-align: center;
  transition: 0.8s 0.5s;
  opacity: 0;
}

.content-head--bg-white {
  background-color: #fff;
  padding: 30px 0;
}

.content-head--staff-blog {
  margin-bottom: 0;
}

.on {
  .content-head__char {
    transform: translate(0, 0);
    opacity: 1;
  }

  .content-head__en {
    opacity: 1;
  }
}

.lead-sentence {
  font-size: 22.4px;
  display: block;
  text-align: center;
  margin-bottom: 1em;
  letter-spacing: .2em;
}

.lead-sentence__child {
  transition: all 1.2s;
  opacity: 0;
  transform: translate(50px, 0);
  display: inline-block;

  @for $i from 1 through 30 {
    &:nth-child(#{$i}) {
      transition-delay: calc(0.05s * #{$i} + 0.4s);
    }
  }

}

.lead-sentence--small {
  font-size: 1.82rem;
  margin-bottom: 1em;
  letter-spacing: 0.1em;
}

.on .lead-sentence__child {
  opacity: 1;
  transform: translate(0, 0);
}

.logo--vertical {
  width: 145px;
  margin: 0 auto;
  display: block;
}

.button-reservation {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 12px 0;
  display: block;
  text-decoration: none;
  transition: all .3s;
  font-size: 1.7rem;
  text-align: center;
  background-color: $color-red;
  color: #fff;
  z-index: #{map-get($z-index, 'fixed-button')};
  line-height: 1;

  &:hover {
    opacity: .7;
  }
}

.parallax {
  height: 300px;
  background-position:  top 50% left 0;
  background-repeat: no-repeat;
  background:  center no-repeat;
  background-size: cover;
}

.parallax--hospital-referral {
  background-image: url('../images/hospital_bg_01.jpg');
}

.parallax--doctor {
  background-image: url('../images/docter_bg_01.jpg');
}

.parallax--point {
  background-image: url('../images/charm_bg_01-1.jpg');
  background-position: top 0 left 20%;
}

.parallax + * {
  margin-top: -50px;
}

// *********************************
//  Loading
// *********************************
.home-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: #{map-get($z-index, 'loading')};

  &.on {
    .home-loading__bg-white {
      transform: translateY(100%);
    }

    .home-loading__text1 {
      -webkit-mask-position: -190px -280px;
      mask-position: -190px -280px;
    }

    .home-loading__text2 {
      -webkit-mask-position: center -300px;
      mask-position: center -300px;
    }
  }

  &.off {
    transition: 2s;
    opacity: 0;
    pointer-events: none;

    .letter {
      display: inline-block;
      opacity: 0;
      transform: translateY(-20px);
      transition: all 1s;
    }

    .letter:nth-child(1) {
      transition-delay: calc(0.1s * 1);
    }
    .letter:nth-child(2) {
      transition-delay: calc(0.1s * 2);
    }
    .letter:nth-child(3) {
      transition-delay: calc(0.1s * 3);
    }
    .letter:nth-child(4) {
      transition-delay: calc(0.1s * 4);
    }
    .letter:nth-child(5) {
      transition-delay: calc(0.1s * 5);
    }
  }
}

.home-loading__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.home-loading__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(130deg, rgba(194, 0, 0, 0.1) 0%, rgba(255, 156, 0, 0.1) 28%, rgba(255, 236, 0, 0.1) 42%, rgba(41, 197, 0, 0.1) 60%, rgba(20, 97, 181, 0.1) 75%, rgba(165, 41, 196, 0.1) 100%);
  z-index: 0;
}

.home-loading__bg-pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/pattern_01.png');
  background-size: 45px;
}

.home-loading__bg-white {
  position: absolute;
  top: -30%;
  left: 0%;
  width: 100%;
  height: 130%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 30%);
  transition: 1s cubic-bezier(0.61, 0.01, 0.43, 0.99);
}

.home-loading__body {
  position: relative;
  z-index: 1;
}

.home-loading__logo {
  &-image {
    width: 100px;
  }
}

.letter {
  font-size: 2.1rem;
  letter-spacing: .6em;
  line-height: 35.7px;
}

.home-loading__texts {
  margin-bottom: 30px;
}

.home-loading__text1 {
  -webkit-mask-image: url('../images/mv_txt_bg_01.png');
  mask-image: url('../images/mv_txt_bg_01.png');
  -webkit-mask-position: 120px -280px;
  mask-position: 120px -280px;
  transition: 0.7s linear;
  -webkit-mask-size: 800px;
  mask-size: 800px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  display: inline-block;
}

.home-loading__text2 {
  -webkit-mask-image: url('../images/mv_txt_bg_02.png');
  mask-image: url('../images/mv_txt_bg_02.png');
  -webkit-mask-position: left 250px;
  mask-position: left 250px;
  transition-delay: 0.7s;
  transition: 1.7s linear;
  -webkit-mask-size: 800px;
  mask-size: 800px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  display: inline-block;
}

.home-loading__logo {
  text-align: center;
}


// *********************************
//  MainVisual
// *********************************
.home-mainvisual {
  padding: 20px 0 0;
  position: relative;
  z-index: #{map-get($z-index, 'mainvisual')};


  &.on {

    .home-mainvisual__texts {
      opacity: 1;
      transform: translate(0, 0);
      transition: opacity 2s 3s, transform 2s 3s;
    }

    .home-mainvisual__char {
      transition: transform 1.0s, opacity 1.0s;
      opacity: 1;
      transform: translate(0, 0);
    }

    .home-mainvisual__bg {
      opacity: 1;

      &::before {
        transform: scale(1);
      }
    }

  }
}

.home-mainvisual__inner {
  display: flex;
  flex-direction: row-reverse;
  padding: 0 30px;
  position: relative;
  z-index: 1;
}

.home-mainvisual__title {
  font-size: 8vw;
  letter-spacing: 0.4em;
  font-weight: 200;
  display: flex;
  line-height: 1;
  flex-direction: row-reverse;
}

.home-mainvisual__title--inner {
  writing-mode: vertical-rl;
  font-size: 0;

  &:not(:last-child) {
    margin-left: 25px;
  }

  &:nth-child(1) .home-mainvisual__char {
    @for $i from 0 through 7 {
      &:nth-child(#{$i}) {
        transition-delay: calc(.1s * #{$i} + 1s);
      }
    }
  }

  &:nth-child(2) .home-mainvisual__char {
    @for $i from 0 through 7 {
      &:nth-child(#{$i}) {
        transition-delay: calc(.1s * #{$i} + 1.7s);
      }
    }
  }
}

.home-mainvisual__char {
  line-height: 1;
  font-size: 33px;
  display: inline-block;
  opacity: 0;

  &:nth-child(4n + 1) {
    transform: translate(10%, -7%);
  }

  &:nth-child(4n + 2) {
    transform: translate(-7%, -5%);
  }

  &:nth-child(4n + 3) {
    transform: translate(7%, -2%);
  }

  &:nth-child(4n + 4) {
    transform: translate(5%, -10%);
  }
}

.home-mainvisual__texts {
  letter-spacing: 0.1em;
  writing-mode: vertical-rl;
  font-size: 3.1vw;
  margin: 2em 2em 0 0;
  opacity: 0;
  transform: translate(50px, -50px);
  line-height: 2.3;
}

.home-mainvisual__bg {
  width: 80%;
  height: 290px;
  margin-top: -50px;
  position: relative;
  z-index: 0;
  opacity: 0;
  transition: 3s;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../images/mv_bg_01.jpg') 50% top no-repeat;
    background-size: cover;
    transition: 8s;
    transform: scale(1.2);
  }
}

.home-mainvisual__scroll {
  display: none;
}

.home-mainvisual__copyright {
  display: none;
}

// *********************************
//  News
// *********************************
.home-news {
  position: relative;
  z-index: #{map-get($z-index, 'news')};
  padding: 230px 0 50px;
  margin-top: -190px;
}

.home-news__container {
  background-color: #fff;
  padding: 30px;
}

.home-news__head {
  margin-bottom: 20px;
  @include clearfix;
}

.content-head--home-news {
  float: left;
}

.content-head--mb {
  margin-bottom: 2.5em;
}


// *********************************
//  About
// *********************************
.home-about {
  padding: 40px 0;
}

.text--about {
  line-height: 2.4;
}

.home-about__continue {
  text-align: center;
  display: block;
  border: none;
  background: none;
  font-weight: normal;
  font-size: 1.4rem;
  font-family: $font-base;
  width: 100%;
  color: $color-font;
  letter-spacing: .1em;
  line-height: 2.4;
  border-bottom: 1px solid $color-accent;
  position: relative;

  &.clicked {
    display: none;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    width: 20px;
    height: 20px;
    background: url(../images/ico_arrow01_c1.svg) center no-repeat;
    background-size: contain;
    transform: rotate(90deg);
    margin-top: -10px;
  }
}

.home-about__accordion {
  display: none;
}

.home-about__text--wrapper {
  margin-bottom: 3em;
}


// *********************************
//  Greeting
// *********************************
.home-point {
  padding: 0 0 50px;
}

.point-slide {
  background-color: #fff;
  margin-bottom: 20px;
}

.point-slide__dt {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  font-size: 1.8rem;
  text-align: center;
  padding: 16px 0;
  margin-bottom: 16px;
}












// *********************************
// Pointのアニメーション
// *********************************
.point-slide__icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  transition: .5s;

  &--ruler {
    visibility: hidden;
  }
}

//  ------ 初期位置 -------
// Point1
.point-slide__item--num1 {
  .point-slide__icon:nth-child(1) {
    transform: translateY(-20px);
  }

  .point-slide__icon:nth-child(2) {
    transform: translateY(-20px);
  }
}

// Point2
.point-slide__item--num2 {
  .point-slide__icon:nth-child(1) {
    transform: translateY(20px) rotate(90deg) scale(1.3);
  }

  .point-slide__icon:nth-child(2) {
    transform: scaleY(0);
  }
}

// Point3
.point-slide__item--num3 {
  .point-slide__icon:nth-child(1) {
    transform: translateY(-20px);
  }

  .point-slide__icon:nth-child(2) {
    transform: translateX(-40px);
  }
}

// Point4
.point-slide__item--num4 {
  .point-slide__icon:nth-child(1) {
    transform: scale(1.5) rotate(20deg);
  }

  .point-slide__icon:nth-child(2) {
    transform: scale(1.7);
  }
}

// Point5
.point-slide__item--num4 {
  .point-slide__icon:nth-child(1) {
    transform: scale(0);
  }

  .point-slide__icon:nth-child(2) {
    transform: translateY(-20px);
  }
}

// コンテナ
.point-slide__icon--container {
  width: 64px;
  margin: 0 auto 10px;
  position: relative;
  transform: scale(2);
  transition: .6s .3s;
}

//  ------ アニメーション後 -------
// スマホ
@include media(sp) {
  .on {

    // コンテナ
    .point-slide__icon--container {
      transform: scale(1);
    }


  }
  // Point1
  .on.point-slide__item--num1 {
    .point-slide__icon:nth-child(1) {
      transform: translateY(0);
      opacity: 1;
    }

    .point-slide__icon:nth-child(2) {
      transform: translateY(0);
      transition-delay: 0.5s;
      opacity: 1;
    }
  }

  // Point2
  .on.point-slide__item--num2 {
    .point-slide__icon:nth-child(1) {
      transform: translateY(0) rotateY(0) scale(1);
      opacity: 1;
    }

    .point-slide__icon:nth-child(2) {
      transition-delay: 0.5s;
      transform: scaleY(1);
      opacity: 1;
    }
  }

  // Point3
  .on.point-slide__item--num3 {
    .point-slide__icon:nth-child(1) {
      transform: translateY(0);
      transition: 0.4s 0.6s;
      opacity: 1;
    }

    .point-slide__icon:nth-child(2) {
      transform: translateX(0px);
      opacity: 1;
    }
  }

  // Point4
  .on.point-slide__item--num4 {
    .point-slide__icon:nth-child(1) {
      transform: scale(1) rotate(0);
      opacity: 1;
      transition: 0.4s;
    }

    .point-slide__icon:nth-child(2) {
      transform: scale(1);
      transition: 0.4s 0.4s;
      opacity: 1;
    }
  }

  // Point5
  .on.point-slide__item--num5 {
    .point-slide__icon:nth-child(1) {
      transform: scale(1);
      opacity: 1;
      transition: 0.5s;
    }

    .point-slide__icon:nth-child(2) {
      transform: translateY(0);
      transition: 0.4s 0.6s cubic-bezier(0.07, 0.35, 0.4, 1.49);
      opacity: 1;
    }
  }
}

// タブレット以上
@include media(tb) {

  // コンテナ
  .on .point-slide__icon--container {
    transform: scale(1);
  }

  // Point1
  .on.point-slide__item--num1 {
    .point-slide__icon:nth-child(1) {
      transform: translateY(0);
      opacity: 1;
    }

    .point-slide__icon:nth-child(2) {
      transform: translateY(0);
      transition-delay: 0.5s;
      opacity: 1;
    }
  }

  // Point2
  .on.point-slide__item--num2 {
    .point-slide__icon:nth-child(1) {
      transform: translateY(0) rotateY(0) scale(1);
      opacity: 1;
    }

    .point-slide__icon:nth-child(2) {
      transition-delay: 0.5s;
      transform: scaleY(1);
      opacity: 1;
    }
  }

  // Point3
  .on.point-slide__item--num3 {
    .point-slide__icon:nth-child(1) {
      transform: translateY(0);
      transition: 0.4s 0.6s;
      opacity: 1;
    }

    .point-slide__icon:nth-child(2) {
      transform: translateX(0px);
      opacity: 1;
    }
  }

  // Point4
  .on.point-slide__item--num4 {
    .point-slide__icon:nth-child(1) {
      transform: scale(1) rotate(0);
      opacity: 1;
      transition: 0.4s;
    }

    .point-slide__icon:nth-child(2) {
      transform: scale(1);
      transition: 0.4s 0.4s;
      opacity: 1;
    }
  }

  // Point5
  .on.point-slide__item--num5 {
    .point-slide__icon:nth-child(1) {
      transform: scale(1);
      opacity: 1;
      transition: 0.5s;
    }

    .point-slide__icon:nth-child(2) {
      transform: translateY(0);
      transition: 0.4s 0.6s cubic-bezier(0.07, 0.35, 0.4, 1.49);
      opacity: 1;
    }
  }
}







.point-slide__item {

  &--num1 {
    .point-slide__dt {
      border-top-color: $color-orange;
      border-bottom-color: $color-orange;
    }
  }

  &--num2 {
    .point-slide__dt {
      border-top-color: $color-lightblue;
      border-bottom-color: $color-lightblue;
    }
  }

  &--num3 {
    .point-slide__dt {
      border-top-color: $color-red;
      border-bottom-color: $color-red;
    }
  }

  &--num4 {
    .point-slide__dt {
      border-top-color: $color-green;
      border-bottom-color: $color-green;
    }
  }

  &--num5 {
    .point-slide__dt {
      border-top-color: $color-purple;
      border-bottom-color: $color-purple;
    }
  }
}

.point-slide__point {
  font-size: 1.2rem;
  font-family: $font-mincho;
  margin-bottom: 1em;
  line-height: 1;
}

.point-slide__num {
  font-size: 2em;
  font-weight: bold;
  display: inline-block;
  margin-left: .2em;
}

.point-tab {
  margin-top: -12px;
}

.point-tab__item {
  color: #fff;
  font-family: $font-mincho;
  text-align: center;
  font-size: 1rem;
  border-radius: 4px;
  padding: 8px;
  box-sizing: border-box;
  background-color: #bebebe;
  position: relative;
  margin: 12px 0 0;
  line-height: 1;

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: 100%;
    border: 6px solid transparent;
    transform: translateX(-50%);
  }

  &::after {
    content: '';
    display: block;
    width: 13px;
    height: 13px;
    background-image: url('../images/ico_arrow02_wh.svg');
    margin: 7px auto 0;
  }
}

.point-tab__num {
  font-size: 1.5em;
}

.slick-current .point-tab__item {

  &--num1 {
    background-color: $color-orange;

    &::before {
      border-bottom-color: $color-orange;
    }
  }

  &--num2 {
    background-color: $color-lightblue;

    &::before {
      border-bottom-color: $color-lightblue;
    }
  }

  &--num3 {
    background-color: $color-red;

    &::before {
      border-bottom-color: $color-red;
    }
  }

  &--num4 {
    background-color: $color-green;

    &::before {
      border-bottom-color: $color-green;
    }
  }

  &--num5 {
    background-color: $color-purple;

    &::before {
      border-bottom-color: $color-purple;
    }
  }
}

.home-greeting {
  padding: 40px 0 30px;
  overflow: hidden;
}

.role-name--wrapper {
  text-align: right;
}

.role-name__name {
  font-size: 1.82rem;
  display: inline-block;
  margin-left: 0.5em;
}

.home-greeting__text {
  margin-bottom: 1em;
}

.home-greeting__inner {
  position: relative;
}

.home-greeting__photo {
  width: calc(50% + 30vw);
  height: 60vw;
  background: url('../images/greeting_bg_01.jpg') top 0 left 20% no-repeat;
  background-size: cover;
  margin-bottom: 20vw;
  transition: 1.1s linear;
  filter: blur(20px);
  opacity: 0;
}

.home-greeting__bg {
  background-color: $color-accent;
  position: absolute;
  z-index: -1;
  width: calc(50% + 30vw);
  height: 60vw;
  right: -30px;
  top: 10vw;
  transition: 1.4s 1s;
  transform: translate(-50px, -50px);
  opacity: 0;
}

.home-greeting__greeting {
  transition: 1.4s 1s;
  transform: translate(50px, 50px);
  opacity: 0;
}

.on {
  .home-greeting__photo {
    filter: blur(0px);
    opacity: 1;
  }

  .home-greeting__bg {
    transform: translate(0, 0);
    opacity: 1;
  }

  .home-greeting__greeting {
    transform: translate(0, 0);
    opacity: 1;
  }
}


// *********************************
//  Beginner's Guide
// *********************************
.home-beginner {
  padding: 50px 0;
}

.home-beginner__text--wrapper {
  margin-bottom: 3em;
}

.selfcheck-bubble {
  background-color: $color-main;
  border-radius: 50px;
  padding: 30px;
  position: relative;
  transition: 1.0s;
  opacity: 0;
  transform: translateY(50px);

  &.on {
    opacity: 1;
    transform: translateY(0px);
  }

  &::before {
    content: '';
    display: block;
    width: 34px;
    height: 30px;
    background: url('../images/check_fukisdashi.svg') center no-repeat;
    background-size: contain;
    position: absolute;
    top: 99%;
    right: 62px;
  }
}

.selfcheck-bubble__item {
  margin-bottom: 1em;
}

.selfcheck-bubble__head {
  font-size: 1.96rem;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 0.2em;
  margin-bottom: 1em;
}

.selfcheck-bubble__text {
  font-size: 1.19rem;
  text-align: center;
  margin-bottom: 2em;
}

.selfcheck-bubble__open {
  padding-bottom: 1em;
}

.selfcheck-bubble__open,
.selfcheck-bubble__close {
  text-decoration: underline;
  text-align: center;

  &.clicked {
    pointer-events: none;
  }
}

.selfcheck-bubble__accordion {
  display: none;
  padding-top: 2em;
}

.icon-check {
  &::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 15px;
    background: url('../images/beginner_ico_check.svg') center no-repeat;
    background-size: contain;
    margin: 0 8px -2px 0;
  }
}

.icon-cross {
  &::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url('../images/ico_cross_c1.svg') center no-repeat;
    background-size: contain;
    margin-right: 8px;
  }
}


// *********************************
//  Flow
// *********************************
.home-flow {
  padding: 50px 0;
  position: relative;
}

.home-flow__li {
  overflow: hidden;
}

.home-flow__item {
  margin: 0 auto;
  display: inline-block;
  padding: 0 16px;
  box-sizing: border-box;
  transform: translateX(50px);
  opacity: 0;
  transition: 1.5s;
  box-sizing: border-box;
}

.on .home-flow__item {
  transform: translateX(0);
  opacity: 1;
}

.home-flow__image {
  margin: 0 auto;
  max-width: 100%;
  display: block;
}

.home-flow__desc {
  font-size: 1.19rem;
  max-width: 254px;
  margin: 0 auto;
}

// *********************************
//  App Link
// *********************************
$color-welby: #ffaf5a;
$color-diary: #e5958b;

.home-apps {
  padding: 40px 0;
}

.home-apps__item {
  border: 2px solid #000;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.home-apps__body {
  color: #fff;
  padding: 15px;
  display: flex;

  &::before {
    content: '';
    display: block;
    width: 40%;
    height: 0;
    padding-bottom: 78%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(-10deg) translate(-8%, 0);
    margin-top: -10%;
  }
}

.home-apps__body--inner {
  display: block;
  width: 60%;
}

.home-apps__lead {
  font-family: $font-gothic;
  font-size: 1.8rem;
  line-height: 1.7;
  margin-bottom: 0.5em;
}

.home-apps__description {
  font-size: 1.3rem;
}

.home-apps__head {
  padding: 14px;
  text-align: center;
}

.home-apps__head-image {
  max-width: 68%;
  height: auto;
}

.home-apps__attention {
  font-family: $font-gothic;
  font-size: 1.2rem;
  color: $color-welby;
  background-color: #fff;
  padding: 2px 10px;
  margin-top: 1em;
}

.home-apps__item--welby {
  border-color: $color-welby;
}

.home-apps__item--welby .home-apps__body {
  background-color: $color-welby;

  &::before {
    background-image: url('../images/app01_img.png');
  }
}

.home-apps__item--diary {
  border-color: $color-diary;
}

.home-apps__item--diary .home-apps__body {
  background-color: $color-diary;

  &::before {
    background-image: url('../images/app02_img.png');
  }
}

.home-apps__link-list {
  padding: 15px;
  font-size: 0;
  display: flex;
  justify-content: space-around;
}

.home-apps__anchor {
  display: inline-block;
}

.home-apps__app-image {
  width: 143px;
  height: auto;
}


// *********************************
//  Medical Service
// *********************************

.home-service {
  background: url('../images/pattern_03.png');
  padding: 50px 0;
}

.medical-service-tab__li {
  margin-bottom: 20px;
}

.slick-current .medical-service-tab__item {

  &--rheumatoid {
    .medical-service-tab__title {
      background-color: $color-red;
    }
    .medical-service-tab__num-image .cls-1 {
      fill: $color-red;
    }
  }

  &--internal {
    .medical-service-tab__title {
      background-color: $color-lightblue;
    }
    .medical-service-tab__num-image .cls-1 {
      fill: $color-lightblue;
    }
  }

  &--aging {
    .medical-service-tab__title {
      background-color: $color-orange;
    }
    .medical-service-tab__num-image .cls-1 {
      fill: $color-orange;
    }
  }

}

.medical-service-tab__num {
  font-size: 0;
  width: 50%;
  margin: 0 auto;
}

.medical-service-tab__title {
  display: block;
  font-size: 11px;
  background-color: #bebebe;
  border-radius: 6px;
  padding: 8px 2px;
}

.medical-service-tab__item {
  color: #fff;
  text-align: center;
  border-radius: 3px;
  font-size: 0;
}

.medical-service__li {
  counter-reset: service-num -1;
  padding: 0 20px;
  margin-bottom: 30px;
}

.medical-service__item {
  background-color: #fff;
  padding: 15px 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

.medical-service__title {
  font-size: 24px;
}

.medical-service__number {
  font-size: 1.1rem;

  &::after {
    counter-increment: service-num 1;
    content: counter(service-num, decimal-leading-zero);
    display: inline-block;
    font-size: 1.7rem;
    margin-left: .1em;
  }
}

.medical-service__image--wrapper {
  width: 100%;
  margin-bottom: 1em;
}

.medical-service__image {
  width: 100%;
  margin: 0 auto;

  &--round {
    border-radius: 50%;
    width: 176px;
  }
}

.medical-service__texts {
  margin-bottom: 2em;
}

.service-post {
  margin-bottom: 80px;
}

.service-post__item {
  background-color: #fafaf8;
  margin-bottom: 20px;
  position: relative;
  box-shadow: 0 0 0 0 rgba($color-orange, .5);
  transition: box-shadow .4s;

  &:nth-child(n + 4) {
    display: none;
  }
}

.service-post--second {
  display: none;
}

.service-post__link {
  text-decoration: none;
  color: $color-font;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  transition: box-shadow .4s;

  &::before {
    content: '';
    display: block;
    border-style: solid;
    border-color: transparent;
    border-width: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &:hover {
    opacity: 1;
  }

  &.category--rheumatoid {
    box-shadow: 0 0 0 0 rgba($color-red, .5);

    &::before {
      border-right-color: $color-red;
      border-bottom-color: $color-red;
    }

    &:hover {
      box-shadow: 10px 10px 0 0 rgba($color-red, .5);
    }
  }

  &.category--aging {
    box-shadow: 0 0 0 0 rgba($color-orange, .5);

    &::before {
      border-right-color: $color-orange;
      border-bottom-color: $color-orange;
    }

    &:hover {
      box-shadow: 10px 10px 0 0 rgba($color-orange, .5);
    }
  }
}

.service-post__thumbnail {
  width: 50%;
  height: 0;
  padding-bottom: 30%;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}

.service-post__time {
  display: none;
}

.service-post__service {
  display: none;
}

.service-post__title {
  font-size: 1.4rem;
  background-color: #fff;
  width: 50%;
  padding: 18px 24px;
  box-sizing: border-box;
}

.service-post__excerpt {
  display: none;
}


// *********************************
//  Doctor
// *********************************
.home-doctor {
  padding-bottom: 50px;
}

.doctor-profile {
  position: relative;
  overflow: hidden;
}

.doctor-profile__photo {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  right: -19%;
}

.doctor-profile__photo--wrapper {
  width: 100%;
  padding-bottom: 88%;
  overflow: hidden;
  position: relative;
  z-index: 0;
  margin-bottom: 30px;
}

.doctor-name {
  writing-mode: vertical-rl;
  font-size: 22px;
  padding: 60px 40px 93px;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
}

.doctor-name__ruby {
  writing-mode: horizontal-tb;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 1.4rem;
  text-align: center;
}

.doctor-name--inner {
  transform: translateX(-50px);
  opacity: 0;
  transition: 1s;
}

.on.doctor-name--inner {
  transform: translateX(0);
  opacity: 1;
}


.doctor-name--wrapper {
  margin-bottom: 40px;
}

.doctor-career {
  position: relative;
  z-index: 1;

  &--keireki,
  &--paper {
    border-left: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
    padding: 0 20px;
    font-size: 1.3rem;
  }
}

.doctor-career--wrapper {
  display: none;
  padding-top: 30px;
}

.doctor-career__more {
  border: none;
  background: none;
  font-weight: normal;
  text-align: center;
  color: $color-font;
  font-family: $font-base;
  border: 1px solid #da6669;
  padding: 8px;
  position: relative;
  display: block;
  width: 100%;

  &::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%) rotate(90deg);
    background: url('../images/ico_arrow05_wh.svg') $color-accent center no-repeat;
    background-size: 12px 12px;
  }

  &.clicked::before {
    transform: translateY(-50%) rotate(-90deg);
  }
}

.doctor-career:not(:last-child) {
  margin-bottom: 20px;
}

.doctor-career__item {
  display: flex;
}

.doctor-career__year {
  flex: 0 1 5em;
}

.doctor-career__description {
  flex: 0 1 calc(100% - 5em);
}


// *********************************
//  Staff
// *********************************
.home-staff {
  position: relative;
  padding: 40px 0;
}

.staff-introduction__li {
  margin: 0 auto 30px;
  max-width: 800px;
  padding: 0 20px;
  box-sizing: border-box;
}

.staff-introduction__item {
  background-color: #fff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top right;
  padding-top: 66.7%;

  &--concierge {
    background-image: url('../images/staff_img_01.jpg');
  }

  &--nurse {
    background-image: url('../images/staff_img_03.jpg');
  }
}

.staff-introduction__dl {
  padding: 20px;
}

.staff-introduction__dt {
  font-size: 1.2rem;
  margin-bottom: 1em;
}

.staff-introduction__dd {
  background-color: #fff;
}

.staff-blog {
  background-color: #fff;
  padding: 30px;
}

.staff-blog__head {
  margin-bottom: 20px;
}

.staff-blog__buttons {
  display: flex;
  justify-content: space-between;
}

.staff-blog__button {
  width: 48%;
}


// *********************************
//  Hospital Referral
// *********************************
.home-hospital-referral {
  padding-bottom: 40px;
}

.home-hospital-referral__lead {
  margin-bottom: 20px;
}

.referral-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.referral-list__li {
  flex: 0 1 48%;
  margin-bottom: 30px;
}

.referral-list__dd {
  font-size: 1.3rem;
}

.referral-list__link {
  text-decoration: none;
  color: $color-font;
  transition: all .8s;

  &:hover {
    opacity: .6;

    .referral-list__image {
      box-shadow: 8px 8px 0 0 rgba($color-red, .5);
    }
  }
}

.referral-list__figure {
  position: relative;

  &::before {
    content: '+';
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: $color-accent;
    font-size: 28px;
    color: #fff;
    text-align: center;
    line-height: 27px;
  }
}

.referral-list__image {
  width: 100%;
  height: auto;
  box-shadow: 0 0 0 0 rgba($color-red, .5);
  transition: box-shadow .4s;
  margin-bottom: .5em;
}

.referral-list__figcaption {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: .5em;
}


// *********************************
//  Access
// *********************************
.home-access {
  position: relative;
  padding: 40px 0;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 530px;
    background: #fff;
    z-index: 1;
  }
}

.home-access__guidance {
  border: 1px solid #dedede;
  padding: 15px 20px;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.home-access__guidance--wrapper {
  margin-bottom: 2em;
}

.access-info {
  margin-bottom: 2em;
  position: relative;
  z-index: 1;
}

.access-info__post {
  font-size: 1.2rem;
}

.access-info__tellink {
  text-decoration: none;
  color: $color-font;
}

.access-info__telnum {
  font-size: 2rem;
}

.traffic-info {
  background-color: #fff;
  padding: 15px 20px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.traffic-info__dt {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1em;

  &::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 0;
    padding-bottom: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 8px;
  }
}

.traffic-info__dt--subway::before {
  background-image: url('../images/access_ico_subway.svg');
}

.traffic-info__dt--car::before {
  background-image: url('../images/access_ico_car.svg');
}

.traffic-info__dd {
  & + .traffic-info__dt {
    margin-top: 2em;
  }
}

.traffic-info__link {
  color: $color-font;

  &::before {
    content: '';
    display: inline-block;
    width: 60px;
    height: 0;
    padding-bottom: 61.8px;
    background: url('../images/access_ticket_ico.jpg') center no-repeat;
    background-size: contain;
    vertical-align: bottom;
  }
}

.home-access__googlemap {
  max-width: 100%;
}


// *********************************
//  Reservation
// *********************************
.home-reservation {
  padding: 40px 0 60px;
}

.home-reservation__title {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1em;

  &--small {
    font-size: 1.7rem;
    margin-bottom: 1em;
  }
}

.home-reservation--box {
  background-color: $color-main;
  padding: 20px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.home-reservation__dl {
  background-color: #fff;
  padding: 6px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.home-reservation__dd {
  padding: 10px;
}

.home-reservation__text--small {
  font-size: 1.3rem;
}

.home-reservation__tel {
  text-decoration: none;
  color: $color-accent;
  font-size: 2.1rem;
  letter-spacing: 0.05em;
}


// *********************************
//  Clinic Map
// *********************************
.home-clinic-map {
  background-color: $color-main;
  padding: 40px 0;
}

.home-clinic-map__title {
  margin-bottom: 2.5em;
}

.home-clinic-map__lead {
  margin-bottom: 2em;
}

.clinic-map__map {
  background: url('../images/map_img_01.svg') center no-repeat;
  background-size: contain;
  width: 100%;
  height: 0;
  padding-bottom: 104%;
  position: relative;
  z-index: 0;
  margin-bottom: 30px;
}

.clinic-map__room {
  display: block;
  position: absolute;
  z-index: 1;
  height: auto;
  box-sizing: border-box;
  font-size: 0;

  &--no1 {
    width: 11%;
    top: 13%;
    left: 46%;
  }

  &--no2 {
    width: 11%;
    top: 13%;
    left: 57%;
  }

  &--no3 {
    width: 17%;
    top: 13%;
    left: 68%;
  }

  &--no4 {
    width: 21%;
    top: 40%;
    left: 66%;
  }

  &--no5 {
    width: 21%;
    top: 51%;
    left: 66%;
  }

  &--no6 {
    width: 21%;
    top: 62%;
    left: 66%;
  }

  &--no7 {
    width: 21%;
    top: 73%;
    left: 66%;
  }
}

.clinic-map__image {
  width: 100%;
  height: auto;
}

.clinic-photos {
  counter-reset: room-num -1;
  font-size: 0;
}

.clinic-photos__item {
  position: relative;

  &--no1 .clinic-photos__num { background-color: $color-lightpurple; }
  &--no2 .clinic-photos__num { background-color: $color-navy; }
  &--no3 .clinic-photos__num { background-color: $color-lightblue; }
  &--no4 .clinic-photos__num { background-color: $color-green; }
  &--no5 .clinic-photos__num { background-color: $color-yellow; }
  &--no6 .clinic-photos__num { background-color: $color-orange; }
  &--no7 .clinic-photos__num { background-color: $color-red; }
}

.clinic-photos__room-num {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 40px;
  z-index: 1;
  color: #fff;
  display: flex;
}

.clinic-photos__room {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #959090;
  font-size: 10px;
  line-height: 1;
  margin: 0;
}

.clinic-photos__num {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0;
  font-size: 21px;
  line-height: 1;
}

.clinic-photos__image {
  width: 100%;
  position: relative;
  z-index: 0;
}

.clinic-photos__comment {
  padding: 16px;
  background: #959090;
  color: #fff;
  font-size: 1.3rem;
}
