@include media(pc) {
  body {
    font-size: 1.6rem;
  }

  .button-arrow {
    font-size: 1.9rem;
  }

  .inner-wrapper--flow {
    max-width: 1110px;

  }

  .inner-wrapper--staff {
    padding: 0 40px;
  }

  .content-head__jp {
    font-size: 35px;
  }

  .content-head__en {
    font-size: 21px;
  }

  .lead-sentence {
    font-size: 35px;
  }

  .post-list__link {
    transition: opacity .8s;

    &:hover {
      opacity: .6;
    }
  }

  // *********************************
  //  Loading
  // *********************************
  .letter {
    font-size: 40px;
    line-height: 1.7;
  }

  .home-loading__texts {
    letter-spacing: .6em;
    margin-bottom: 50px;
  }

  .home-loading__logo-image {
    width: 150px;
  }

  // *********************************
  //  MainVisual
  // *********************************
  .home-mainvisual__scroll {
    transition: opacity .8s;

    &:hover {
      opacity: .6;
    }
  }

  // *********************************
  //  News
  // *********************************


  // *********************************
  //  About
  // *********************************
  .home-about {
    box-sizing: border-box;
    max-width: $width-base;
    margin: 0 auto;
  }


  // *********************************
  //  Greeting
  // *********************************
  .home-greeting__photo {
    width: calc(50% + 420px);
    height: 660px;
    transform: translateX(-200px);
  }

  .home-greeting__bg {
    right: -210px;
    top: 160px;
    width: 800px;
    height: 560px;
  }

  .point-slide__point {
    font-size: 1.4rem;
  }


  // *********************************
  //  Beginner's Guide
  // *********************************


  // *********************************
  //  Flow
  // *********************************
  .home-flow__image {
    width: 200px;
  }

  .home-flow__item {
    &:not(:last-child) {
      &::before {
        top: 80px;
        right: -20px;
      }
    }
  }

  // *********************************
  //  App Link
  // *********************************
  .home-apps__lead {
    font-size: 26px;
  }

  .home-apps__description {
    font-size: 1.4rem;
  }

  // *********************************
  //  Medical Service
  // *********************************
  .service-post__item {
    &:nth-child(-n+3) .service-post__title {
      font-size: 1.9rem;
    }
  }

  .service-post__time {
    font-size: 1.4rem;
  }

  .service-post__title {
    font-size: 1.4rem;
  }

  .service-post__excerpt {
    font-size: 1.4rem;
  }

  .service-list__item {
    font-size: 1.4rem;
  }

  .medical-service-tab__item {
    cursor: pointer;
  }


  // *********************************
  //  Doctor
  // *********************************
  .doctor-name {
    font-size: 29px;
  }

  .doctor-name--wrapper {
    overflow: hidden;
  }

  .doctor-profile__photo {
    height: auto;
    width: 100%;
    right: 0;
  }


  // *********************************
  //  Staff
  // *********************************
  .staff-blog__head {
    flex: 0 1 295px;
  }

  .staff-blog__body {
    flex: 0 1 1;
  }

  .staff-introduction__comment-body {
    font-size: 1.4rem;
  }

  .staff-introduction__dl {
    width: 432px;
  }


  // *********************************
  //  Hospital Referral
  // *********************************
  .referral-list__figcaption {
    font-size: 1.9rem;
  }

  .referral-list__dd {
    font-size: 1.4rem;
  }


  // *********************************
  //  Access
  // *********************************
  .access-info__tellink {
    pointer-events: none;
  }

  .home-access__googlemap {
    position: absolute;
    top: 0;
    z-index: 0;
    width: calc(50% + 170px);
    height: 660px;
  }

  .traffic-info {
    font-size: 1.4rem;
  }


  // *********************************
  //  Reservation
  // *********************************
  .home-reservation__tel {
    pointer-events: none;
  }


  // *********************************
  //  Clinic Map
  // *********************************
  .clinic-photos__room {
    font-size: 1.6rem;
  }

  .clinic-photos__num {
    font-size: 4.8rem;
  }

  .clinic-photos__comment {
    font-size: 1.6rem;
  }

  .clinic-map__room {
    cursor: pointer;
  }

}
