.slick-track:before, .slick-track:after {
  display: none !important;
}

@mixin slick-arrow {
  &::before {
    content: '';
    display: block;
    width: 30px;
    height: 60px;
    background: url('../images/ico_arrow_04.svg') center no-repeat;
  }
}

.slick01 {

  .slick-slide {
    padding: 30px 20px;
  }

  .slick-arrow {
    width: 30px;
    height: 60px;

    @include slick-arrow;

    &.slick-prev {
      &::before {
        transform: rotate(-180deg);
      }
    }
  }

  &-tab {

    .slick-slide {
      width: 19% !important;

      &:not(:last-child) {
        margin-right: calc(5% / 4);
      }
    }

    .slick-list {
      padding: 0 !important;
    }
  }
}

.slick02 {

  .slick-list {
    overflow: hidden;
    margin: 0 auto;
    z-index: 0;
  }

  .slick-arrow {
    background: #959090 url('../images/ico_arrow05_wh.svg') center no-repeat;
    background-size: 49%;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    z-index: 1;
    transition: opacity .3s;
    top: 43%;

    &.slick-prev {
      transform: rotate(-180deg) translate(0, 50%);
    }

    &::before {
      content: '';
      display: none;
    }

    &.slick-disabled {
      opacity: 0;
      pointer-events: none;
    }
  }

  .slick-prev {
    left: calc(50% - 180px);
  }

  .slick-next {
    right: calc(50% - 180px);
  }
}

.slick03-tab {
  .slick-list {
    padding: 0 !important;
  }

  .slick-track {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 100% !important;

    &::before, &::after {
      display: none;
    }
  }

  .slick-slide {
    width: 31% !important;
  }
}

.slick03 {

  .slick-next {
    right: 0;
  }

  .slick-prev {
    left: 0;
  }

  .slick-arrow {
    width: 30px;
    height: 60px;

    @include slick-arrow;

    &.slick-next {
      transform: translate(10px, -50%);
    }

    &.slick-prev {
      transform: translate(-10px, -50%);

      &::before {
        transform: rotate(-180deg);
      }
    }
  }

  @include media(tb) {
    .slick-arrow {
      width: 36px;
      height: 72px;

      &::before {
        width: 36px;
        height: 72px;
      }

      &.slick-next {
        transform: translate(36px, -50%);
      }

      &.slick-prev {
        transform: translate(-36px, -50%);
      }
    }
  }
}


.slick04 {
  .slick-next {
    right: 0;
  }

  .slick-prev {
    left: 0;
  }

  .slick-arrow {
    width: 30px;
    height: 60px;

    @include slick-arrow;

    &.slick-next {
      transform: translate(10px, -50%);
    }

    &.slick-prev {
      transform: translate(-10px, -50%);

      &::before {
        transform: rotate(-180deg);
      }
    }
  }

  @include media(tb) {
    .slick-arrow {
      width: 36px;
      height: 72px;

      &::before {
        width: 36px;
        height: 72px;
      }

      &.slick-next {
        transform: translate(36px, -50%);
      }

      &.slick-prev {
        transform: translate(-36px, -50%);
      }
    }
  }
}

.slick05 {
  .slick-arrow {
    display: none !important;
  }
}
