.slick01 {

  .slick-slide {
    padding: 30px 20px;
    // background-color: #fff;
  }

  &-tab {

    .slick-slide {
      width: 19% !important;

      &:not(:last-child) {
        margin-right: calc(5% / 4);
      }
    }

    .slick-list {
      padding: 0 !important;
    }
  }
  .slick-arrow {
    display: none !important;
  }

}

.slick02 {

  .slick-list {
    overflow: hidden;
    margin: 0 auto;
    z-index: 0;
  }

  .slick-arrow {
    background: #959090;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    z-index: 1;
    transition: opacity .3s;
    top: 43%;

    &::before {
      content: '';
      display: none;
    }

    &.slick-disabled {
      opacity: 0;
      pointer-events: none;
    }
  }

  .slick-prev {
    left: calc(50% - 180px);
  }

  .slick-next {
    right: calc(50% - 180px);
  }
  .slick-arrow {
    display: none !important;
  }
}

.slick03-tab {
  .slick-list {
    padding: 0 !important;
  }

  .slick-track {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 100% !important;

    &::before, &::after {
      display: none;
    }
  }

  .slick-slide {
    width: 31% !important;
  }
}

.slick03 {
  .slick-next {
    right: 0;
  }
  .slick-prev {
    left: 0;
  }
  .slick-arrow {
    display: none !important;
  }
}

.slick04 {
  .slick-next {
    right: 0;
  }
  .slick-prev {
    left: 0;
  }
  .slick-arrow {
    display: none !important;
  }
}

.slick05 {
  .slick-arrow {
    display: none !important;
  }
}
